Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky

libbpf-tools: Introduce path helpers
  libbpf-tools/Makefile
  libbpf-tools/opensnoop.bpf.c
  libbpf-tools/opensnoop.c
  libbpf-tools/opensnoop.h
  libbpf-tools/path_helpers.bpf.h
  libbpf-tools/path_helpers.c
  libbpf-tools/path_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/filelife: support full-path
  libbpf-tools/filelife.bpf.c
  libbpf-tools/filelife.c
  libbpf-tools/filelife.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/opensnoop: support mount full-path (#5339)
  tools/opensnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/runqlat: Dynamically size pid/pidns histogram map
  tools/runqlat.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/filelife: support full-path
  libbpf-tools/filelife.bpf.c
  libbpf-tools/filelife.c
  libbpf-tools/filelife.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Introduce path helpers
  libbpf-tools/Makefile
  libbpf-tools/opensnoop.bpf.c
  libbpf-tools/opensnoop.c
  libbpf-tools/opensnoop.h
  libbpf-tools/path_helpers.bpf.h
  libbpf-tools/path_helpers.c
  libbpf-tools/path_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/runqlat: Dynamically size pid/pidns histogram map (#5342)
  tools/runqlat.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/syscall_helpers: Modify syscall_name to return error code
  libbpf-tools/syscall_helpers.c
  libbpf-tools/syscall_helpers.h
  libbpf-tools/syscount.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/syscall_helpers: Modify syscall_name to return error code (#5314)
  libbpf-tools/syscall_helpers.c
  libbpf-tools/syscall_helpers.h
  libbpf-tools/syscount.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

python: Replace deprecated setup.py with pypa/build+pip
  CMakeLists.txt
  cmake/CmakeUninstall.cmake.in
  src/python/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/filetop: Add directory filter (#5300)
  tools/filetop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: runqslower: add -c option to filter by process name prefix
  libbpf-tools/runqslower.bpf.c
  libbpf-tools/runqslower.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: runqslower: add -c option to filter by process name prefix
  libbpf-tools/runqslower.bpf.c
  libbpf-tools/runqslower.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix the license for newly added path* files
  libbpf-tools/path_helpers.bpf.h
  libbpf-tools/path_helpers.c
  libbpf-tools/path_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix the license for newly added path* files (#5346)
  libbpf-tools/path_helpers.bpf.h
  libbpf-tools/path_helpers.c
  libbpf-tools/path_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/filelife: Fix wrong full-path
  libbpf-tools/filelife.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools: Introduce full-path helpers
  tools/CMakeLists.txt
  tools/full_path.h
  tools/opensnoop.py
  tools/path_helpers.bpf.c
  tools/path_helpers.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/filelife: support full-path
  tools/filelife.py
  tools/filelife_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/filegone: support full-path
  tools/filegone.py
  tools/filegone_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: update tcpdrop to address reviewer feedback
  libbpf-tools/.gitignore
  libbpf-tools/tcpdrop.bpf.c
  libbpf-tools/tcpdrop.c
  libbpf-tools/tcpdrop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: runqslower: add -c option to filter by process name prefix
  libbpf-tools/runqslower.bpf.c
  libbpf-tools/runqslower.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: trace_helpers: add str_loadavg()
  libbpf-tools/biotop.c
  libbpf-tools/filetop.c
  libbpf-tools/oomkill.c
  libbpf-tools/slabratetop.c
  libbpf-tools/tcptop.c
  libbpf-tools/trace_helpers.c
  libbpf-tools/trace_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

ci: Update workflow settings to fix CI test failure issue
  .github/workflows/bcc-test.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

bcc: Fix for test tools_memleak.py
  tests/python/test_tools_memleak.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

tools: add softirqslower
  tools/softirqslower.py
  tools/softirqslower_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools-softirqslower: add docs
  README.md
  man/man8/softirqslower.8
  snap/snapcraft.yaml
  tests/python/test_tools_smoke.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/memleak: fix typo
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/klockstat: Allows kprobe fallback to work with lock debugging
  libbpf-tools/klockstat.bpf.c
  libbpf-tools/klockstat.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

net_monitor: fix typos in comments
  examples/networking/net_monitor.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: ksnoop: Fix two invalid access to map value
  libbpf-tools/ksnoop.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

net_monitor: fix typos in comments (#5360)
  examples/networking/net_monitor.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/filelife: Fix wrong full-path (#5347)
  libbpf-tools/filelife.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

bcc: Fix for test tools_memleak.py (#5355)
  tests/python/test_tools_memleak.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

libbpf-tools/memleak: fix typo (#5358)
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/klockstat: Allows kprobe fallback to work with lock debugging (#5359)
  libbpf-tools/klockstat.bpf.c
  libbpf-tools/klockstat.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: ksnoop: Fix two invalid access to map value (#5361)
  libbpf-tools/ksnoop.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

syscall_helpers.c / syscall.py: update syscall list
  libbpf-tools/syscall_helpers.c
  src/python/bcc/syscall.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix potential verification failure for opensnoop.py
  tools/opensnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix potential verification failure for opensnoop.py (#5364)
  tools/opensnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

syscall_helpers.c / syscall.py: update syscall list (#5363)
  libbpf-tools/syscall_helpers.c
  src/python/bcc/syscall.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky
