Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky

libbpf-tools/trace_helpers: Add helper to probe bpf_get_ns_current_pid_tgid
  libbpf-tools/trace_helpers.c
  libbpf-tools/trace_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/ttysnoop: Fix a minor typo
  tools/ttysnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/ttysnoop: Fix a minor typo (#5175)
  tools/ttysnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/mountsnoop: Use union to pass arguments
  libbpf-tools/mountsnoop.bpf.c
  libbpf-tools/mountsnoop.c
  libbpf-tools/mountsnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/mountsnoop: Support fsopen,fsconfig,fsmount,move_mount syscalls
  libbpf-tools/mountsnoop.bpf.c
  libbpf-tools/mountsnoop.c
  libbpf-tools/mountsnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/mountsnoop: Fix fsmount printing wrong flags
  tools/mountsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

complete entries
  libbpf-tools/bcc_profile.log.1216-222729
  libbpf-tools/bcc_profile.log.1216-222959
  libbpf-tools/glog_err_1216_22_10_34.txt
  libbpf-tools/glog_err_1216_22_27_27.txt
  libbpf-tools/profile_v1.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

complete memory use big &&gzip file
  libbpf-tools/profile_v1
  libbpf-tools/profile_v1.bpf.c
  libbpf-tools/profile_v1.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

complete code
  libbpf-tools/bcc_profile.log.1216-222729
  libbpf-tools/bcc_profile.log.1216-222959
  libbpf-tools/profile_v1.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/profile: Add additional information to backtrace
  tools/profile.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/klockstat: Remove Byte String Prefix in Output
  tools/klockstat.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

profile: new option -R (refresh DSOs), to capture short lived processes
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

trace_helpers.c: add PID field to struct DSO
  libbpf-tools/trace_helpers.c
  libbpf-tools/trace_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

profile: new mode -A (addresses only), where no name resolution is attempted
  libbpf-tools/profile.c
  libbpf-tools/profile_symbol_resolve.py
  libbpf-tools/trace_helpers.c
  libbpf-tools/trace_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

profile: add -P (pressure stall information loop) mode for the tool
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

profile: add -o (output-path) mode, an addition to the original stdout mode
  libbpf-tools/profile.c
  libbpf-tools/trace_helpers.c
  libbpf-tools/trace_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools: add numasched: trace task switch between NUMA
  man/man8/numasched.8
  tools/numasched.py
  tools/numasched_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/klockstat: Remove Byte String Prefix in Output (#5179)
  tools/klockstat.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/mountsnoop: Use union to pass arguments
  libbpf-tools/mountsnoop.bpf.c
  libbpf-tools/mountsnoop.c
  libbpf-tools/mountsnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/mountsnoop: Support fsopen,fsconfig,fsmount,move_mount syscalls
  libbpf-tools/mountsnoop.bpf.c
  libbpf-tools/mountsnoop.c
  libbpf-tools/mountsnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/profile: Add additional information to backtrace (#5109)
  tools/profile.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/mountsnoop: Fix fsmount printing wrong flags (#5178)
  tools/mountsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools: add numasched: trace task switch between NUMA (#4396)
  man/man8/numasched.8
  tools/numasched.py
  tools/numasched_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/compactsnoop: Add aarch64 support
  tools/compactsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/memleak: Show allocation type in print_outstanding
  tools/memleak.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

cmake: Update GetGitRevisionDescription.cmake from upstream.
  cmake/GetGitRevisionDescription.cmake
  cmake/GetGitRevisionDescription.cmake.in
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

README.md: Add tools/numasched contents
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

README.md: Add tools/numasched contents (#5187)
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/compactsnoop: Add aarch64 support (#5180)
  tools/compactsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

fix
  tools/memleak.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/cpuunclaimed: Remove unused python method imports
  tools/cpuunclaimed.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

syms: Initialize ModulePath::fd_ to invalid FD
  src/cc/syms.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

syms: Initialize ModulePath::fd_ to invalid FD
  src/cc/syms.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Fix llvm20 compilation error
  src/cc/frontends/clang/b_frontend_action.cc
  src/cc/json_map_decl_visitor.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Fix llvm20 compilation error (#5194)
  src/cc/frontends/clang/b_frontend_action.cc
  src/cc/json_map_decl_visitor.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Update debian changelog for release v0.33.0
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Update debian changelog for release v0.33.0 (#5195)
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/opensnoop: Display mode for -e, --extended_fields
  tools/opensnoop.py
  tools/opensnoop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

INSTALL.md: Add build dependencies for Ubuntu 24.04
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/cpuunclaimed: Remove unused python method imports (#5189)
  tools/cpuunclaimed.py
Owners: @brendangregg, @goldshtn, @davemarchevsky
