Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Filter with kprobe blacklist for kprobe_exists() api.
  libbpf-tools/trace_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

docs: Update build-from-source ubuntu deps to include zip and tools
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/memleak: support ksyms and syms_cache
  libbpf-tools/memleak.bpf.c
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools: Update default stack storage size to reduce frequent warnings
  tools/offcputime.py
  tools/offcputime_example.txt
  tools/offwaketime.py
  tools/offwaketime_example.txt
  tools/wakeuptime.py
  tools/wakeuptime_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/deadlock: Add an option to set the maximum number of stack traces
  tools/deadlock.c
  tools/deadlock.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/funclatency: Clear histogram record after interval output
  libbpf-tools/funclatency.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

rm duplicated iperf/netperf in dockerfile.ubuntu
  docker/build/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Filter with kprobe blacklist for kprobe_exists() api.
  libbpf-tools/trace_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

docs: Update build-from-source ubuntu deps to include zip and tools
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Support ringbuf_query method for Ring buffer
  docs/reference_guide.md
  src/cc/export/helpers.h
  src/cc/frontends/clang/b_frontend_action.cc
  tests/python/test_ringbuf.py
Owners: @brendangregg, @goldshtn, @davemarchevsky, @drzaeus77, @yonghong-song, @4ast

libbpf-tools: Bump riscv vmlinux.h to v6.2
  libbpf-tools/riscv/vmlinux.h
  libbpf-tools/riscv/vmlinux_515.h
  libbpf-tools/riscv/vmlinux_602.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

rewriter: Init only the requested parameters
  src/cc/frontends/clang/b_frontend_action.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools: Bump riscv vmlinux.h to v6.2
  libbpf-tools/riscv/vmlinux.h
  libbpf-tools/riscv/vmlinux_515.h
  libbpf-tools/riscv/vmlinux_602.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

bcc: Add module kfunc/kretfunc support
  docs/reference_guide.md
  src/cc/export/helpers.h
  src/cc/libbpf.c
Owners: @brendangregg, @goldshtn, @davemarchevsky, @drzaeus77, @yonghong-song, @4ast

bcc: Add module kfunc/kretfunc support
  docs/reference_guide.md
  src/cc/export/helpers.h
  src/cc/libbpf.c
Owners: @brendangregg, @goldshtn, @davemarchevsky, @drzaeus77, @yonghong-song, @4ast

rewriter: Init only the requested parameters
  src/cc/frontends/clang/b_frontend_action.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools: use fentry in funclatency
  libbpf-tools/funclatency.bpf.c
  libbpf-tools/funclatency.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

bcc: Fix vmlinux kfunc load
  src/cc/libbpf.c
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

bcc: Fix vmlinux kfunc load
  src/cc/libbpf.c
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools: use fentry in funclatency
  libbpf-tools/funclatency.bpf.c
  libbpf-tools/funclatency.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

runqlen/cpuunclaimed: Fix runnable_weight issue after Linux 5.7
  tools/cpuunclaimed.py
  tools/runqlen.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

runqlen/cpuunclaimed: Fix runnable_weight issue after Linux 5.7
  tools/cpuunclaimed.py
  tools/runqlen.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: Allow readahead to run on old kernels
  libbpf-tools/readahead.bpf.c
  libbpf-tools/readahead.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Allow biosnoop to run on old kernels
  libbpf-tools/biosnoop.bpf.c
  libbpf-tools/biosnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Allow biostacks to run on old kernels
  libbpf-tools/biostacks.bpf.c
  libbpf-tools/biostacks.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix maximum allowed index for print_linear_hist (#4613)
  src/python/bcc/table.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

Fix maximum allowed index for print_linear_hist (#4613)
  src/python/bcc/table.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

Updated according to Yonghong's review comments: Update the man page, Update the smoke test, Code minor update.
  man/man8/tcpaccept.8
  tests/python/test_tools_smoke.py
  tools/tcpaccept.py
  tools/tcpaccept_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky, @drzaeus77, @yonghong-song

tools: Remove unused strftime
  tools/offcputime.py
  tools/wakeuptime.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: Add support for execsnoop on arm64.
  libbpf-tools/execsnoop.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools: Remove unused strftime
  tools/offcputime.py
  tools/wakeuptime.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/rdmaucma: Add new command
  man/man8/rdmaucma.8
  tools/rdmaucma.py
  tools/rdmaucma_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

Implement ttysnoop with libbpf
  libbpf-tools/Makefile
  libbpf-tools/compat.bpf.h
  libbpf-tools/core_fixes.bpf.h
  libbpf-tools/ttysnoop.bpf.c
  libbpf-tools/ttysnoop.c
  libbpf-tools/ttysnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix printb function
  docs/tutorial_bcc_python_developer.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

Update INSTALL.md: fix llvm download url
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf: Refactor opensnoop.bpf.c
  libbpf-tools/opensnoop.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Update INSTALL.md: fix llvm download url
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix printb function
  docs/tutorial_bcc_python_developer.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

Print expression to print process name
  tools/argdist.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: memleak: fix tracepoint adjusting after Linux 6.1
  libbpf-tools/core_fixes.bpf.h
  libbpf-tools/memleak.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky
