Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky

tools/cachetop: Fix add_to_page_cache_lru/mark_page_accessed not correct since kernel 5.16
  tools/cachetop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/memleak: Fix to handle failure for invalid arguments
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Add sys.stdout.flush() during print (#5142)
  tools/tcpstates.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/cachestat,cachetop: Fix add_to_page_cache_lru/mark_page_accessed since kernel 5.16 (#5144)
  tools/cachestat.py
  tools/cachetop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/memleak: Fix to handle failure for invalid arguments (#5147)
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/hardirqs: Print results in descending order
  tools/hardirqs.py
  tools/hardirqs_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/memleak: add mremap uprobe
  libbpf-tools/memleak.bpf.c
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/hardirqs: Print results in descending order (#5148)
  tools/hardirqs.py
  tools/hardirqs_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

Add fs mount point identification in 'tools/opensnoop.py'
  tools/opensnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: javagc: Hints for more information
  libbpf-tools/javagc.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/memleak: add mremap uprobe (#5151)
  libbpf-tools/memleak.bpf.c
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: javagc: Hints for more information (#5154)
  libbpf-tools/javagc.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix LLVM-20 compilation failure
  src/cc/frontends/clang/loader.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Fix LLVM-20 compilation failure (#5155)
  src/cc/frontends/clang/loader.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

bpf: Sync with latest libbpf repo
  src/cc/compat/linux/virtual_bpf.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

bpf: Sync with latest libbpf repo (#5156)
  src/cc/compat/linux/virtual_bpf.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Update debian changelog for release v0.32.0
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Update debian changelog for release v0.32.0 (#5157)
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/memleak: Fixes explanations for -Z and -z options
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/memleak: Fixes explanations for -Z and -z options
  tools/memleak.py
  tools/memleak_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

Do not generate uapi header when using external libbpf
  src/cc/CMakeLists.txt
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

examples/cpp/pyperf: Make external symbols match their definitions
  examples/cpp/pyperf/PyPerfUtil.cc
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/memleak: Fixes off-by-one error for `-Z` and `-z` option (#5149)
  libbpf-tools/memleak.c
  tools/memleak.py
  tools/memleak_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

enhancement: get application lvl stack trace
  tools/oomkill.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/slabratetop: Fix failed to create kprobe error
  libbpf-tools/slabratetop.bpf.c
  libbpf-tools/slabratetop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

examples/networking: sockmap.py: Fix invalid bpf_context access off=24 size=8
  examples/networking/sockmap.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/oomkill: get application lvl stack trace
  tools/oomkill.py
  tools/oomkill_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/profile: Add support for PID-namespacing
  libbpf-tools/profile.bpf.c
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/trace_helpers: Add helper to probe bpf_get_ns_current_pid_tgid
  libbpf-tools/trace_helpers.c
  libbpf-tools/trace_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf_tools/profile: Support PID namespace mapping if available in the kernel
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

complete dump Cpu profiling
  .vscode/c_cpp_properties.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  libbpf-tools/Makefile
  libbpf-tools/profile_v1
  libbpf-tools/profile_v1.bpf.c
  libbpf-tools/profile_v1.c
  libbpf-tools/profile_v1.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

complete second Cpu dump
  libbpf-tools/Makefile
  libbpf-tools/bccprofile.tar.gz
  libbpf-tools/log.h
  libbpf-tools/profile_v1.bpf.c
  libbpf-tools/profile_v1.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

optimized code
  .gitignore
  libbpf-tools/profile_v1.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

docs: fix a minor typo.
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

examples/networking: sockmap.py: Fix invalid bpf_context access off=24 size=8 (#5169)
  examples/networking/sockmap.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

docs: fix a minor typo. (#5173)
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/slabratetop: Fix failed to create kprobe error (#5168)
  libbpf-tools/slabratetop.bpf.c
  libbpf-tools/slabratetop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/oomkill: get application lvl stack trace (#5166)
  tools/oomkill.py
  tools/oomkill_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf_tools/profile: Support PID namespace mapping if available in the kernel
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/profile: Add support for PID-namespacing
  libbpf-tools/profile.bpf.c
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky
