Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

docs: Updated the documentation on XDP supporting drivers
  docs/kernel-versions.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

docs: Updated the documentation on XDP supporting drivers (#4914)
  docs/kernel-versions.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

Remove test_free_bcc_memory python test
  tests/python/CMakeLists.txt
  tests/python/test_free_bcc_memory.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

Remove test_free_bcc_memory python test (#4917)
  tests/python/CMakeLists.txt
  tests/python/test_free_bcc_memory.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

tcpdrop: add support for filtering by netns
  tools/tcpdrop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/execsnoop: add '-C' option to display CPU column
  tools/execsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tcpdrop: add support for filtering by netns (#4912)
  tools/tcpdrop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/execsnoop: display which cpu the processes running on (#4904)
  tools/execsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: fix syscall tracepoints
  libbpf-tools/execsnoop.bpf.c
  libbpf-tools/futexctn.bpf.c
  libbpf-tools/mountsnoop.bpf.c
  libbpf-tools/opensnoop.bpf.c
  libbpf-tools/sigsnoop.bpf.c
  libbpf-tools/statsnoop.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Explicitly declare dependency on LLVM header
  SPECS/bcc.spec
  debian/control
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: fix syscall tracepoints (#4920)
  libbpf-tools/execsnoop.bpf.c
  libbpf-tools/futexctn.bpf.c
  libbpf-tools/mountsnoop.bpf.c
  libbpf-tools/opensnoop.bpf.c
  libbpf-tools/sigsnoop.bpf.c
  libbpf-tools/statsnoop.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Explicitly declare dependency on LLVM header (#4921)
  SPECS/bcc.spec
  debian/control
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Add new feature doublefree
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/doublefree.bpf.c
  libbpf-tools/doublefree.c
  libbpf-tools/doublefree.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

clang: check header ownership
  src/cc/frontends/clang/kbuild_helper.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

clang: check header ownership (#4928)
  src/cc/frontends/clang/kbuild_helper.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

fix alias detection when installed with APP_PREFIX
  libbpf-tools/fsdist.c
  libbpf-tools/fsslower.c
  libbpf-tools/sigsnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

examples/tracing/undump.py: Add --hexdump argument
  examples/tracing/undump.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

clang: Fix file_exists_and_ownedby return value
  src/cc/frontends/clang/kbuild_helper.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

fix alias detection when installed with APP_PREFIX (#4932)
  libbpf-tools/fsdist.c
  libbpf-tools/fsslower.c
  libbpf-tools/sigsnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

examples/tracing/undump.py: Add --hexdump argument (#4933)
  examples/tracing/undump.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

clang: Fix file_exists_and_ownedby return value (#4935)
  src/cc/frontends/clang/kbuild_helper.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Fix btf_type_tag issue with llvm 15
  src/cc/frontends/clang/b_frontend_action.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Fix btf_type_tag issue with llvm 15
  src/cc/frontends/clang/b_frontend_action.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Fix another btf_type_tag issue with llvm 15
  src/cc/frontends/clang/b_frontend_action.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Fix another btf_type_tag issue with llvm 15
  src/cc/frontends/clang/b_frontend_action.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Implement kernel_struct_field_size_offset() helper function
  src/cc/libbpf.c
  src/cc/libbpf.h
  src/python/bcc/__init__.py
  src/python/bcc/libbcc.py
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky, @goldshtn

Fix slabratetop.py for 6.8 kernel
  tools/slabratetop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Mark slabratetop.py not supported for >= 6.8 kernel
  tools/slabratetop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Mark slabratetop.py not supported for >= 6.8 kernel
  tools/slabratetop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: Add new feature lsan on libbpf-tools
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/cvector.h
  libbpf-tools/lsan.bpf.c
  libbpf-tools/lsan.c
  libbpf-tools/lsan.h
  libbpf-tools/uthash.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

add missing trailing comma
  debian/control
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

add missing ubuntu dpkg dependency
  docker/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/gethostlatency: correct section name
  libbpf-tools/gethostlatency.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Reomove "-nopie" option workaround for old clang.
  cmake/FindCompilerFlag.cmake
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Support memleak trace third-part allocators
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

fix deb build/docker ubuntu (#4943)
  debian/control
  docker/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Reomove "-nopie" option workaround for old clang. (#4945)
  cmake/FindCompilerFlag.cmake
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/gethostlatency: correct section name (#4944)
  libbpf-tools/gethostlatency.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Update debian changelog for release v0.30.0
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Update debian changelog for release v0.30.0 (#4947)
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky
