Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky

libbpf-tools: Add s390x support
  libbpf-tools/Makefile
  libbpf-tools/s390/vmlinux.h
  libbpf-tools/s390/vmlinux_6413.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Skipping USDT tests for Power processor
  tests/python/CMakeLists.txt
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

Adding memory zones for Power server
  tools/compactsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: Check biolatency tracepoints using BTF
  libbpf-tools/biolatency.bpf.c
  libbpf-tools/biolatency.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools: Add hash table item batch operations support
  tools/argdist.py
  tools/biopattern.py
  tools/biotop.py
  tools/cachestat.py
  tools/cachetop.py
  tools/dirtop.py
  tools/filetop.py
  tools/klockstat.py
  tools/netqtop.py
  tools/slabratetop.py
  tools/stackcount.py
  tools/swapin.py
  tools/syscount.py
  tools/tcprtt.py
  tools/tcptop.py
  tools/wakeuptime.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix bcc python script run warning: 'nocf_check' attribute ignored
  src/cc/frontends/clang/loader.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

tools/trace: don't raise an exception in a ctype callback
  tools/trace.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix issue #4767 (#4769)
  tools/memleak.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/xfsslower: Decode the records to print as utf-8
  tools/xfsslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/vfscount_example: Correct the command used for printing help
  tools/vfscount_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

ci: retire ubuntu 18.04 from CI
  .github/workflows/bcc-test.yml
  .github/workflows/publish-build-containers.yml
  docker/build/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Remove unused import in execsnoop
  tools/execsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Added support for f2fs to fsdist and fsslower tools.
  libbpf-tools/fsdist.c
  libbpf-tools/fsslower.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Add the f2fs install target in the Makefile
  libbpf-tools/Makefile
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/*.py: fix invalid escape sequences in regexps
  tools/cpudist.py
  tools/dcsnoop.py
  tools/dcstat.py
  tools/offcputime.py
  tools/offwaketime.py
  tools/runqlat.py
  tools/runqslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix bcc python script run warning: 'nocf_check' attribute ignored
  src/cc/frontends/clang/loader.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

tools/filegone: Support rename/unlink failed situation
  tools/filegone.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/filelife: Fix error tracking caused by failed unlink
  tools/filelife.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools: Add dirwatch
  man/man8/dirwatch.8
  tools/dirwatch.py
  tools/dirwatch_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/filelife: Fix error tracking caused by failed unlink
  tools/filelife.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/filegone: Support rename/unlink failed situation
  tools/filegone.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/filelife: Fix error tracking caused by failed unlink
  libbpf-tools/filelife.bpf.c
  libbpf-tools/filelife.c
  libbpf-tools/filelife.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Ignore f2fsdist and f2fsslower
  libbpf-tools/.gitignore
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

optimize code sytle and modify element delete position
  tools/f2fsslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tests/python: Avoid implicit type casting in test_clang.py
  tests/python/test_clang.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

bcc: Treat char* as i8 instead of ptr in sscanf funcs
  src/cc/bpf_module_rw_engine.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools: Ignore f2fsdist and f2fsslower
  libbpf-tools/.gitignore
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/filelife: Fix error tracking caused by failed unlink
  libbpf-tools/filelife.bpf.c
  libbpf-tools/filelife.c
  libbpf-tools/filelife.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

bcc: Treat char* as i8 instead of ptr in sscanf funcs
  src/cc/bpf_module_rw_engine.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

tests/python: Avoid implicit type casting in test_clang.py
  tests/python/test_clang.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

libbpf-tools: add futexctn
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/futexctn.bpf.c
  libbpf-tools/futexctn.c
  libbpf-tools/futexctn.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in exitsnoop
  libbpf-tools/exitsnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fixing pvalloc memleak test
  tests/python/test_tools_memleak.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

Fixing pvalloc memleak test
  tests/python/test_tools_memleak.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

modify id delete positon
  tools/f2fsslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

test: Preserving relative path for tools directory
  tests/python/test_tools_memleak.py
  tests/python/test_tools_smoke.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

libbpf-tools/gethostlatency: Resolve the path of libc for different namespaces
  libbpf-tools/gethostlatency.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/memleak: Add --sort option to report ordered in size or count
  tools/memleak.py
  tools/memleak_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

Updating Powerpc vmlinux headers from Linux kernel 6.6
  libbpf-tools/powerpc/vmlinux.h
  libbpf-tools/powerpc/vmlinux_600.h
  libbpf-tools/powerpc/vmlinux_660.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Updating Powerpc vmlinux headers from Linux kernel 6.6
  libbpf-tools/powerpc/vmlinux.h
  libbpf-tools/powerpc/vmlinux_600.h
  libbpf-tools/powerpc/vmlinux_660.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky
