Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky

libbpf-tools/stackscan: Exclude non-lr addresses
  libbpf-tools/stackscan.bpf.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Adding needed packages for Ubuntu 23.04
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

ksnoop: use bpf_get_func_ip() where helper is available
  libbpf-tools/ksnoop.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

ksnoop: use bpf_get_func_ip() where helper is available
  libbpf-tools/ksnoop.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/ppchcalls: added additional hypercall list
  tools/ppchcalls.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/ppchcalls: fix incorrect hypercall name
  tools/ppchcalls.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Adding needed packages for Ubuntu 23.04
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/ppchcalls: added additional hypercall list
  tools/ppchcalls.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/ppchcalls: fix incorrect hypercall name
  tools/ppchcalls.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in exitsnoop
  libbpf-tools/exitsnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

python: Make `tracefile` a module variable
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

tools/trace: don't raise an exception in a ctype callback
  tools/trace.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

dual license memleak bpf prog
  libbpf-tools/memleak.bpf.c
  libbpf-tools/memleak.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix issue #4767
  tools/memleak.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

docs: Add Alibaba Cloud Linux 3 install instruction
  CMakeLists.txt
  INSTALL.md
  src/python/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Add s390x support
  libbpf-tools/Makefile
  libbpf-tools/s390/vmlinux.h
  libbpf-tools/s390/vmlinux_6413.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

biolatency: Fix kernel version check.
  libbpf-tools/biolatency.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/vfscount_example: Correct the command used for printing help
  tools/vfscount_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/xfsslower: Decode the records to print as utf-8
  tools/xfsslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix compilation for LLVM >= 15
  src/cc/bcc_debug.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

cc: Fix maps parsing on 32-bit systems
  src/cc/bcc_proc.c
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

ci: Build bcc against multiple llvm versions
  .github/workflows/bcc-test.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

ci: Update the build container action to be passed what llvm to install
  .github/actions/build-container/action.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

ci: Allow Ubuntu docker image to install multiple LLVM versions
  docker/build/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

ci: Build containers with multiple llvm versions
  .github/workflows/publish-build-containers.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

[bcc test] Simplify workflow
  .github/workflows/bcc-test.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

[bcc test] Retire Fedora 34 and 36, use Fedora 38 instead
  .github/workflows/bcc-test.yml
  .github/workflows/publish-build-containers.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

cc: Fix maps parsing on 32-bit systems
  src/cc/bcc_proc.c
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools: Fix bindsnoop types usage
  libbpf-tools/bindsnoop.c
  libbpf-tools/bindsnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix -Wformat errors for 32bit systems
  libbpf-tools/fsslower.c
  libbpf-tools/trace_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

ci: retire ubuntu 18.04 from CI
  .github/workflows/bcc-test.yml
  .github/workflows/publish-build-containers.yml
  docker/build/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix -Wformat errors for 32bit systems
  libbpf-tools/fsslower.c
  libbpf-tools/trace_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix bindsnoop types usage
  libbpf-tools/bindsnoop.c
  libbpf-tools/bindsnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

f2fsslower:This tool attaches to the entry and return points of specified functions in the F2FS file system and tracks IO operations that are slower than a given threshold.
  man/man8/f2fsslower.8
  tests/python/test_tools_smoke.py
  tools/f2fsslower.py
  tools/f2fsslower_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky, @drzaeus77, @yonghong-song

Remove unused import in execsnoop
  tools/execsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Added support for f2fs to fsdist and fsslower tools.
  libbpf-tools/fsdist.c
  libbpf-tools/fsslower.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/gethostlatency: Resolve the path of libc for different namespaces
  libbpf-tools/gethostlatency.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/*.py: fix invalid escape sequences in regexps
  tools/cpudist.py
  tools/dcsnoop.py
  tools/dcstat.py
  tools/offcputime.py
  tools/offwaketime.py
  tools/runqlat.py
  tools/runqslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Add the f2fs install target in the Makefile
  libbpf-tools/Makefile
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

arm64: unbreak bcc tools on arm64 kasan-enabled kernels
  src/cc/export/bpf_workaround.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky
