Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/hardirqs: add `--cpu/-s` for hardirqs
  libbpf-tools/hardirqs.bpf.c
  libbpf-tools/hardirqs.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

fix(disksnoop): register to blk_mq_complete_request
  docs/tutorial_bcc_python_developer.md
  examples/tracing/disksnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky, @drzaeus77, @yonghong-song, @4ast

libbpf-tools/profile: Remove unnecessary parameter
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/offcputime: Add multi process/thread support
  libbpf-tools/offcputime.bpf.c
  libbpf-tools/offcputime.c
  libbpf-tools/offcputime.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/trace_helpers: Add a utility to split and convert string
  libbpf-tools/offcputime.c
  libbpf-tools/profile.c
  libbpf-tools/trace_helpers.c
  libbpf-tools/trace_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/profile: Check if nr_cpus is zero
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/tcpcong: Reduce code redundancy
  tools/tcpcong.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/profile: Check if nr_cpus is zero
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Add filters to filetop
  man/man8/filetop.8
  tools/filetop.py
  tools/filetop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/offcputime: Add multi process/thread support
  libbpf-tools/offcputime.bpf.c
  libbpf-tools/offcputime.c
  libbpf-tools/offcputime.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/trace_helpers: Add a utility to split and convert string
  libbpf-tools/offcputime.c
  libbpf-tools/profile.c
  libbpf-tools/trace_helpers.c
  libbpf-tools/trace_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/profile: Remove unnecessary parameter
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/hardirqs: add `--cpu/-s` for hardirqs
  libbpf-tools/hardirqs.bpf.c
  libbpf-tools/hardirqs.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/softirqs: Add `-c/--cpu` option to filter cpu
  libbpf-tools/Makefile
  libbpf-tools/softirqs.bpf.c
  libbpf-tools/softirqs.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/tcpcong: Reduce code redundancy
  tools/tcpcong.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Add support for zfs to fsdist and fsslower tools
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/fsdist.c
  libbpf-tools/fsslower.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Add support for zfs to fsdist and fsslower tools
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/fsdist.c
  libbpf-tools/fsslower.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

elf: Detect if Elf is PIE
  src/cc/bcc_elf.c
  src/cc/bcc_elf.h
  src/cc/usdt/usdt.cc
  src/cc/usdt/usdt_args.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

elf: Detect if Elf is PIE
  src/cc/bcc_elf.c
  src/cc/bcc_elf.h
  src/cc/usdt/usdt.cc
  src/cc/usdt/usdt_args.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools: Fix compilation error for gethostlatency
  libbpf-tools/gethostlatency.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Allow offcputime to run on kernels without BPF trampoline
  libbpf-tools/offcputime.bpf.c
  libbpf-tools/offcputime.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools: Add # at the beginning of example command
  tools/biolatency_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools: Fixes typo in biolatency_example.txt file
  tools/biolatency_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools: Fixes explanation about -F option in biolatency_example.txt
  tools/biolatency_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/softirqs: Print results in descending order
  tools/softirqs.py
  tools/softirqs_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/threadsnoop: Add -h option
  tools/threadsnoop.py
  tools/threadsnoop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools: Add # at the beginning of example command
  tools/biolatency_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools: Fixes typo in biolatency_example.txt file
  tools/biolatency_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/threadsnoop: Add -h option
  tools/threadsnoop.py
  tools/threadsnoop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools: Fixes explanation about -F option in biolatency_example.txt
  tools/biolatency_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/softirqs: Print results in descending order
  tools/softirqs.py
  tools/softirqs_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: Fix compilation error for gethostlatency
  libbpf-tools/gethostlatency.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Allow offcputime to run on kernels without BPF trampoline
  libbpf-tools/offcputime.bpf.c
  libbpf-tools/offcputime.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/memleak: mmap allocation failed, not added to pointer map
  libbpf-tools/memleak.bpf.c
  libbpf-tools/memleak.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Add filters to filetop
  man/man8/filetop.8
  tools/filetop.py
  tools/filetop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

Add filters to filetop
  tools/filetop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Add filters to filetop (#5003)
  man/man8/filetop.8
  tools/filetop.py
  tools/filetop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/memleak: mmap allocation failed, not added to pointer map (#5138)
  libbpf-tools/memleak.bpf.c
  libbpf-tools/memleak.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

add sys.stdout.flush() during print
  tools/tcpstates.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/cachestat: Fix add_to_page_cache_lru/mark_page_accessed not correct since kernel 5.16
  tools/cachestat.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky
