Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Update tcpconnect.c
  libbpf-tools/tcpconnect.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/mountsnoop: Support fsopen(2), fsmount(2), fsconfig(2), move_mount(2)
  tools/mountsnoop.py
  tools/mountsnoop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

killsnoop: Allow to trace a signal list
  tools/killsnoop.py
  tools/killsnoop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/mountsnoop: Support fsopen(2), fsmount(2), fsconfig(2), move_mount(2)
  tools/mountsnoop.py
  tools/mountsnoop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

killsnoop: Allow to trace a signal list
  tools/killsnoop.py
  tools/killsnoop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/biolatency: Add support for blktrace events
  tools/biolatency.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Add optional flags for BPF_TABLE_SHARED
  src/cc/export/helpers.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Add optional flags for BPF_TABLE_SHARED (#5054)
  src/cc/export/helpers.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools/profile: Add -f option to display output in folded format
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/profile: Add -f option to display output in folded format
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

print the total number of bytes malloc'ed
  examples/tracing/mallocstacks.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

docs: fix typo
  docs/reference_guide.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/syncsnoop: Add more syscalls support
  tools/syncsnoop.py
  tools/syncsnoop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/javagc: Fix fatal error: 'asm/errno.h' file not found on riscv64
  libbpf-tools/javagc.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

print the total number of bytes malloc'ed (#5061)
  examples/tracing/mallocstacks.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

docs: fix typo (#5063)
  docs/reference_guide.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/syncsnoop: Add more syscalls support
  tools/syncsnoop.py
  tools/syncsnoop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/javagc: Fix fatal error: 'asm/errno.h' file not found on riscv64
  libbpf-tools/javagc.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/sigsnoop: Allow to trace a signal list
  libbpf-tools/sigsnoop.bpf.c
  libbpf-tools/sigsnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/syncsnoop: Add more syscalls support
  libbpf-tools/syncsnoop.bpf.c
  libbpf-tools/syncsnoop.c
  libbpf-tools/syncsnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/threadsnoop: Fix unknown thread start address
  tools/threadsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

bcc/python: Fix get_syscall_prefix on riscv for linux-6.6
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

libbpf-tools/offcputime: Print application starting message
  libbpf-tools/offcputime.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Remove bcc_procutils_which_so_in_ldconfig_cache, as at the moment it can be replaced with bcc_procutils_which_so with pid=0
  src/cc/bcc_proc.c
  src/cc/bcc_proc.h
  src/python/bcc/libbcc.py
  tests/cc/test_c_api.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky, @goldshtn

minor edits
  src/cc/bcc_proc.c
  src/cc/bcc_proc.h
  tests/cc/test_c_api.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools/sigsnoop: Allow to trace a signal list
  libbpf-tools/sigsnoop.bpf.c
  libbpf-tools/sigsnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/syncsnoop: Add more syscalls support
  libbpf-tools/syncsnoop.bpf.c
  libbpf-tools/syncsnoop.c
  libbpf-tools/syncsnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/threadsnoop: Fix unknown thread start address
  tools/threadsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

bcc/python: Fix get_syscall_prefix on riscv for linux-6.6
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

libbpf-tools/offcputime: Print application starting message
  libbpf-tools/offcputime.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Extend `bcc_proc` API. Allow to limit search to specific pid. (#5014)
  src/cc/bcc_proc.c
  src/cc/bcc_proc.h
  src/python/bcc/__init__.py
  src/python/bcc/libbcc.py
  tests/cc/test_c_api.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky, @goldshtn

Update debian changelog for release v0.31.0
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Update debian changelog for release v0.31.0
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/futexctn: Hint program is running
  libbpf-tools/futexctn.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/futexctn: Hint program is running
  libbpf-tools/futexctn.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Add submodule c-vector
  .gitmodules
  CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Add submodule uthash
  .gitmodules
  CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Add new feature lsan on libbpf-tools
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/lsan.bpf.c
  libbpf-tools/lsan.c
  libbpf-tools/lsan.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/profile: Fix incorrect condition in if statement
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/profile: Add additional information to backtrace for -v option
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky
