Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky

Fix llvm compilation failure (#5276)
  src/cc/bcc_debug.cc
  src/cc/bpf_module.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Adapt to gcc 7.3.0 std::string.replace() (#5275)
  src/cc/common.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Update debian changelog for release v0.34.0
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Update debian changelog for release v0.34.0 (#5277)
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

python/setup: Use pypa/installer instead of setup dist
  src/python/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @davemarchevsky

libbpf-tools/syscount: Add --output for Line Protocol metrics
  libbpf-tools/syscount.c
  tools/images/syscount.png
  tools/images/syscount_latency.png
  tools/images/syscount_process.png
  tools/syscount_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/trace_helpers: Add a utility for metric output
  libbpf-tools/memleak.c
  libbpf-tools/syscount.c
  libbpf-tools/trace_helpers.c
  libbpf-tools/trace_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/memleak: Add --output for Line Protocol metrics
  libbpf-tools/memleak.c
  tools/images/memleak_count.png
  tools/images/memleak_size.png
  tools/images/memleak_size_dataexplorer.png
  tools/memleak_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Address the issue where the PID is -1
  src/cc/api/BPF.cc
  src/cc/api/BPF.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

BCC: libbpf: add an interface 'kernel_enum_has_val'
  src/cc/libbpf.c
  src/python/bcc/__init__.py
  src/python/bcc/libbcc.py
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky, @goldshtn

BCC: python: add a useful tool for mptcp
  README.md
  tools/mptcpify.py
  tools/mptcpify_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

BCC: Python: Support 'fmod_ret' method for eBPF
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

python: Replace deprecated setup.py with pypa/build+pip
  CMakeLists.txt
  cmake/CmakeUninstall.cmake.in
  src/python/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

fix typo in "*precpu* cgroup storage"
  docs/kernel-versions.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

clang: Fix pointer dereference on big-endian machines
  src/cc/frontends/clang/b_frontend_action.cc
  src/cc/frontends/clang/b_frontend_action.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

uninstall: use execute_process() instead of exec_program()
  cmake/CmakeUninstall.cmake.in
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

fix typo in "*precpu* cgroup storage"
  docs/kernel-versions.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/map_helpers: Add bpf_map_lookup_and_delete_batch to dump_hash
  libbpf-tools/map_helpers.c
  libbpf-tools/map_helpers.h
  libbpf-tools/tcpconnect.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

bcc: Fix for test bpf_stack_id when running on custom image in yocto
  tests/cc/test_bpf_table.cc
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

libbpf-tools/biotop: Use dump_hash for map processing
  libbpf-tools/biotop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

clang: Define DCONFIG_CC_IS_CLANG in KBuildHelper::get_flags() (#5172)
  src/cc/frontends/clang/kbuild_helper.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools/syscount: Add --output for Line Protocol metrics
  libbpf-tools/syscount.c
  tools/images/syscount.png
  tools/images/syscount_latency.png
  tools/images/syscount_process.png
  tools/syscount_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/memleak: Add --output for Line Protocol metrics
  libbpf-tools/memleak.c
  tools/images/memleak_count.png
  tools/images/memleak_size.png
  tools/images/memleak_size_dataexplorer.png
  tools/memleak_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/biotop: Use dump_hash for map processing
  libbpf-tools/biotop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/biotop: Add --output for Line Protocol metrics
  libbpf-tools/biotop.c
  tools/biotop_example.txt
  tools/images/biotop_io.png
  tools/images/biotop_latency.png
  tools/images/biotops.png
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/trace_helpers: Add a utility for metric output
  libbpf-tools/memleak.c
  libbpf-tools/syscount.c
  libbpf-tools/trace_helpers.c
  libbpf-tools/trace_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/map_helpers: Add bpf_map_lookup_and_delete_batch to dump_hash
  libbpf-tools/map_helpers.c
  libbpf-tools/map_helpers.h
  libbpf-tools/tcpconnect.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

fix typo in reference_guide.md
  docs/reference_guide.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

Sync with latest libbpf repo The top libbpf commit is: 4659eaafa480 sync: latest libbpf changes from kernel
  src/cc/compat/linux/virtual_bpf.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Sync with latest libbpf repo The top libbpf commit is: 4659eaafa480 sync: latest libbpf changes from kernel
  src/cc/compat/linux/virtual_bpf.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

BCC: libbpf: add an interface 'kernel_enum_has_val'
  src/cc/libbpf.c
  src/python/bcc/__init__.py
  src/python/bcc/libbcc.py
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky, @goldshtn

BCC: Python: Support 'fmod_ret' method for eBPF
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

BCC: python: add a useful tool for mptcp
  README.md
  tools/mptcpify.py
  tools/mptcpify_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix the issue of unreleased resources
  libbpf-tools/uprobe_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix running cmake outside of the source subtree
  CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

uninstall: use execute_process() instead of exec_program()
  cmake/CmakeUninstall.cmake.in
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

python: Replace deprecated setup.py with pypa/build+pip
  CMakeLists.txt
  cmake/CmakeUninstall.cmake.in
  src/python/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

fix typo in reference_guide.md
  docs/reference_guide.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: Fix the issue of unreleased resources
  libbpf-tools/uprobe_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/filetop: Add directory filter
  tools/filetop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky
