Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

INSTALL.md: Add build dependencies for Ubuntu 24.04 (#5199)
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Add zombie memcgroup observation tool.
  README.md
  man/man8/zombiememcgstat.8
  tests/python/test_tools_smoke.py
  tools/zombiememcgstat.py
  tools/zombiememcgstat_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Drop support for LLVM 10 and below
  CMakeLists.txt
  cmake/clang_libs.cmake
  src/cc/bcc_debug.cc
  src/cc/bcc_debug.h
  src/cc/bpf_module.cc
  src/cc/frontends/clang/b_frontend_action.cc
  src/cc/frontends/clang/frontend_action_common.h
  src/cc/frontends/clang/loader.cc
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Drop support for LLVM 10 and below (#5202)
  CMakeLists.txt
  cmake/clang_libs.cmake
  src/cc/bcc_debug.cc
  src/cc/bcc_debug.h
  src/cc/bpf_module.cc
  src/cc/frontends/clang/b_frontend_action.cc
  src/cc/frontends/clang/frontend_action_common.h
  src/cc/frontends/clang/loader.cc
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/opensnoop: Display mode for -e, --extended_fields
  tools/opensnoop.py
  tools/opensnoop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/opensnoop: Display mode for -e, --extended_fields (#5196)
  tools/opensnoop.py
  tools/opensnoop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/opensnoop: Fix bad mode value
  tools/opensnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/opensnoop: Display mode for extended fields
  libbpf-tools/opensnoop.bpf.c
  libbpf-tools/opensnoop.c
  libbpf-tools/opensnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/hardirqs: Fix logarithmic calculation issue
  libbpf-tools/hardirqs.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

examples/tracing/disksnoop.py: Fix kprobe attaching failure
  examples/tracing/disksnoop.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/opensnoop: Fix bad mode value (#5205)
  tools/opensnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/opensnoop: Display mode for extended fields (#5206)
  libbpf-tools/opensnoop.bpf.c
  libbpf-tools/opensnoop.c
  libbpf-tools/opensnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/hardirqs: Fix logarithmic calculation issue (#5207)
  libbpf-tools/hardirqs.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

examples/tracing/disksnoop.py: Fix kprobe attaching failure (#5209)
  examples/tracing/disksnoop.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/softirqs: Fix logarithmic calculation issue
  libbpf-tools/softirqs.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/softirqs: Fix logarithmic calculation issue (#5208)
  libbpf-tools/softirqs.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

bcc-lua: enable deterministic bytecode generation
  src/lua/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/profile: Prioritize using the cpu-cycles hardware event
  tools/profile.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

bcc-lua: enable deterministic bytecode generation (#5213)
  src/lua/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

New examples/tracing/setuid_monitor.py: Fix #5211
  docs/tutorial_bcc_python_developer.md
  examples/tracing/setuid_monitor.py
  examples/tracing/setuid_monitor_example.txt
  examples/tracing/urandomread.py
Owners: @brendangregg, @goldshtn, @davemarchevsky, @drzaeus77, @yonghong-song, @4ast

New examples/tracing/setuid_monitor.py: Fix #5211 (#5215)
  docs/tutorial_bcc_python_developer.md
  examples/tracing/setuid_monitor.py
  examples/tracing/setuid_monitor_example.txt
  examples/tracing/urandomread.py
Owners: @brendangregg, @goldshtn, @davemarchevsky, @drzaeus77, @yonghong-song, @4ast

tools/profile: Prioritize using the cpu-cycles hardware event (#5214)
  tools/profile.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: signoop: Support real-time signals
  libbpf-tools/Makefile
  libbpf-tools/sigsnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

WIP: Remove dependency on kallsyms with eBPF
  libbpf-tools/Makefile
  libbpf-tools/profile.bpf.c
  libbpf-tools/profile.c
  libbpf-tools/profile.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Stop profiling before printing results
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/klockstat: Search for correct stack offset in userspace
  libbpf-tools/klockstat.bpf.c
  libbpf-tools/klockstat.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/klockstat: Search for correct stack offset in userspace (#5203)
  libbpf-tools/klockstat.bpf.c
  libbpf-tools/klockstat.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tcp_drop() not findable is an error.
  tools/tcpdrop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tcp_drop() not findable is an error.
  tools/tcpdrop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: signoop: Support real-time signals
  libbpf-tools/sigsnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

examples/tracing/bitehist.py: Fix kprobe attaching failure
  docs/tutorial_bcc_python_developer.md
  examples/tracing/bitehist.py
Owners: @brendangregg, @goldshtn, @davemarchevsky, @drzaeus77, @yonghong-song, @4ast

libbpf-tools: signoop: Support real-time signals (#5216)
  libbpf-tools/sigsnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

examples/tracing/bitehist.py: Fix kprobe attaching failure (#5223)
  docs/tutorial_bcc_python_developer.md
  examples/tracing/bitehist.py
Owners: @brendangregg, @goldshtn, @davemarchevsky, @drzaeus77, @yonghong-song, @4ast

updated functionality and modified bashreadline script/txt
  tools/bashreadline.py
  tools/bashreadline_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

fixed comments to reflect
  tools/bashreadline.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

fixed comments to reflect
  tools/bashreadline.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/unwind_helpers: Add helper API for post dwarf unwind using libunwind
  libbpf-tools/unwind.bpf.h
  libbpf-tools/unwind_helpers.c
  libbpf-tools/unwind_helpers.h
  libbpf-tools/unwind_types.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/offcputime: Add -P option for post dwarf unwind using unwind_helpers
  libbpf-tools/Makefile
  libbpf-tools/offcputime.bpf.c
  libbpf-tools/offcputime.c
  libbpf-tools/offcputime.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Apply unwind_helpers to Makefile
  INSTALL.md
  libbpf-tools/Makefile
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/memleak: Add -U option for post dwarf unwind using unwind_helpers
  libbpf-tools/Makefile
  libbpf-tools/memleak.bpf.c
  libbpf-tools/memleak.c
  libbpf-tools/memleak.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky
