Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky

libbpf-tools: add CO-RE profile
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/profile.bpf.c
  libbpf-tools/profile.c
  libbpf-tools/profile.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

update doc on xdp supported drivers
  docs/kernel-versions.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix userspace stack unwinding on powerpc
  src/python/bcc/table.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

Fix flaky subtest f2fsslower in test_tools_smoke.py
  tests/python/test_tools_smoke.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

update doc on xdp supported drivers (#4887)
  docs/kernel-versions.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix flaky subtest f2fsslower in test_tools_smoke.py (#3531)
  tests/python/test_tools_smoke.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

[PATCH] Fix ttysnoop.py with newer kernels
  tools/ttysnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Sync with latest libbpf repo
  introspection/bps.c
  src/cc/compat/linux/virtual_bpf.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

doc: Fix the build guide for the Arch Linux
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix ttysnoop.py with newer kernels (#4888)
  tools/ttysnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Sync with latest libbpf repo (#4889)
  introspection/bps.c
  src/cc/compat/linux/virtual_bpf.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Set minimum supported llvm version to 12
  .github/workflows/bcc-test.yml
  .github/workflows/publish-build-containers.yml
  INSTALL.md
  debian/control
  docker/build/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Set minimum supported llvm version to 12 (#4892)
  .github/workflows/bcc-test.yml
  .github/workflows/publish-build-containers.yml
  INSTALL.md
  debian/control
  docker/build/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

doc: Fix the build guide for the Arch Linux (#4891)
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Add llvm17 test on ubuntu 20.04
  .github/workflows/bcc-test.yml
  .github/workflows/publish-build-containers.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Add llvm17 test on ubuntu 20.04 (#4893)
  .github/workflows/bcc-test.yml
  .github/workflows/publish-build-containers.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Use llvm12 when building containers
  .github/actions/build-container/action.yml
  docker/build/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Use llvm12 when building containers (#4894)
  .github/actions/build-container/action.yml
  docker/build/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/unwind_helpers: Add helper API for post dwarf unwind using libunwind
  libbpf-tools/unwind.bpf.h
  libbpf-tools/unwind_helpers.c
  libbpf-tools/unwind_helpers.h
  libbpf-tools/unwind_types.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Include libunwind as a submodule
  .gitmodules
  libbpf-tools/Makefile
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/offcputime: Add -P option for post dwarf unwind using unwind_helpers
  libbpf-tools/offcputime.bpf.c
  libbpf-tools/offcputime.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Include digraph as a submodule
  .gitmodules
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Add deadlock
  libbpf-tools/Makefile
  libbpf-tools/deadlock.bpf.c
  libbpf-tools/deadlock.cpp
  libbpf-tools/deadlock.h
  libbpf-tools/trace_helpers.c
  libbpf-tools/trace_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/memleak: Add verbose option
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/memleak: Fix typos
  tools/memleak.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/offcputime, futexctn: Fix incorrect DSO information in stacktrace
  libbpf-tools/futexctn.c
  libbpf-tools/offcputime.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/execsnoop: display which cpu the processes running on
  tools/execsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/memleak: Fix typos (#4901)
  tools/memleak.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/memleak: Add verbose option (#4899)
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/offcputime, futexctn: Fix incorrect DSO information in stacktrace (#4902)
  libbpf-tools/futexctn.c
  libbpf-tools/offcputime.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix bashreadline
  docker/Dockerfile.ubuntu
  docker/build/Dockerfile.fedora
  docker/build/Dockerfile.ubuntu
  libbpf-tools/bashreadline.c
  tools/bashreadline.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/memleak_example: fix typos
  tools/memleak_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: add CO-RE profile (#3782)
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/profile.bpf.c
  libbpf-tools/profile.c
  libbpf-tools/profile.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/memleak_example: fix typos (#4900)
  tools/memleak_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/execsnoop: enable cpu filed check for all supported kernel
  tools/execsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix bashreadline (#4903)
  docker/Dockerfile.ubuntu
  docker/build/Dockerfile.fedora
  docker/build/Dockerfile.ubuntu
  libbpf-tools/bashreadline.c
  tools/bashreadline.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: add CO-RE 'syncsnoop'
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/syncsnoop.bpf.c
  libbpf-tools/syncsnoop.c
  libbpf-tools/syncsnoop.h
  man/man8/syncsnoop.8
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

update workqueue latency tool's code, example file and readme
  README.md
  tests/python/test_tools_smoke.py
  tools/wqlat.py
  tools/wqlat_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

add workqueue latency observation tool
  README.md
  man/man8/wqlat.8
  tests/python/test_tools_smoke.py
  tools/wqlat.py
  tools/wqlat_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

add workqueue latency observation tool (#4897)
  README.md
  man/man8/wqlat.8
  tests/python/test_tools_smoke.py
  tools/wqlat.py
  tools/wqlat_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky
