Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

BCC: Python: Support 'fmod_ret' method for eBPF
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

BCC: python: add a useful tool for mptcp
  README.md
  tools/mptcpify.py
  tools/mptcpify_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

BCC: libbpf: add an interface 'kernel_enum_has_val'
  src/cc/libbpf.c
  src/python/bcc/__init__.py
  src/python/bcc/libbcc.py
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky, @goldshtn

tests/python: support finish_task_switch.isra.*
  tests/python/test_clang.py
  tests/python/test_histogram.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

Use ubuntu 24.04 and fedora 41 for CI testing
  .github/actions/build-container/action.yml
  .github/workflows/bcc-test.yml
  .github/workflows/publish-build-containers.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Use ubuntu 24.04 and fedora 41 for CI testing
  .github/workflows/publish-build-containers.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Use ubuntu 24.04 and fedora 41 for CI testing (#5301)
  .github/workflows/publish-build-containers.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Use correct nickname for github publish-build-containers.yml
  .github/workflows/publish-build-containers.yml
  .github/workflows/publish.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Use correct nickname for github publish-build-containers.yml (#5305)
  .github/workflows/publish-build-containers.yml
  .github/workflows/publish.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Enable CI testing with ubuntu 24.04 and fedora 41
  .github/actions/build-container/action.yml
  .github/workflows/bcc-test.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/biosnoop: Fix biosnoop pattern option
  tools/biosnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

uninstall: use execute_process() instead of exec_program()
  cmake/CmakeUninstall.cmake.in
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

python: Replace deprecated setup.py with pypa/build+pip
  CMakeLists.txt
  cmake/CmakeUninstall.cmake.in
  src/python/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Delete outdated comment (INSTALL.md; Ubuntu)
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

bcc: import subprocess in __init__.py
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

bcc: import subprocess in __init__.py
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

tools/biosnoop: Fix biosnoop pattern option (#5304)
  tools/biosnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Delete outdated comment (INSTALL.md; Ubuntu) (#5308)
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tests/python: support finish_task_switch.isra.* (#5302)
  tests/python/test_clang.py
  tests/python/test_histogram.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

Fix running cmake outside of the source subtree (#5299)
  CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

clang: Define DCONFIG_CC_IS_CLANG in KBuildHelper::get_flags() (#5172) (#5293)
  src/cc/frontends/clang/kbuild_helper.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

bcc: Fix for test bpf_stack_id when running on custom image in yocto (#5292)
  tests/cc/test_bpf_table.cc
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

libbpf-tools/biotop: Use dump_hash for map processing
  libbpf-tools/biotop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/map_helpers: Add bpf_map_lookup_and_delete_batch to dump_hash
  libbpf-tools/map_helpers.c
  libbpf-tools/map_helpers.h
  libbpf-tools/tcpconnect.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

uninstall: use execute_process() instead of exec_program() (#5285)
  cmake/CmakeUninstall.cmake.in
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Revert "Use correct nickname for github publish-build-containers.yml (#5305)"
  .github/workflows/publish-build-containers.yml
  .github/workflows/publish.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Revert "Use ubuntu 24.04 and fedora 41 for CI testing (#5301)"
  .github/workflows/publish-build-containers.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

ci: Upgrade ubuntu 20.04 to 24.04
  .github/actions/build-container/action.yml
  .github/workflows/bcc-test.yml
  .github/workflows/publish-build-containers.yml
  docker/build/Dockerfile.fedora
  docker/build/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

ci: Upgrade ubuntu 20.04 to 24.04 (#5311)
  .github/actions/build-container/action.yml
  .github/workflows/bcc-test.yml
  .github/workflows/publish-build-containers.yml
  docker/build/Dockerfile.fedora
  docker/build/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

change ptid of key_t to id
  tools/xfsslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix the issue where xfsslower cannot track write operations on files opened with the O_SYNC flag (#5310)
  tools/xfsslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/memleak: Extract print_headers
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

ci: Install python3-setuptools for ubuntu 24.04
  docker/build/Dockerfile.fedora
  docker/build/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

ci: Install python3-setuptools for ubuntu 24.04 (#5312)
  docker/build/Dockerfile.fedora
  docker/build/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

clang: Fix pointer dereference on big-endian machines
  src/cc/frontends/clang/b_frontend_action.cc
  src/cc/frontends/clang/b_frontend_action.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools/memleak: Extract print_headers (#5313)
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

clang: Fix pointer dereference on big-endian machines (#5287)
  src/cc/frontends/clang/b_frontend_action.cc
  src/cc/frontends/clang/b_frontend_action.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools/syscall_helers: Modify syscall_name to return error code
  libbpf-tools/syscall_helpers.c
  libbpf-tools/syscall_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/syscall_helpers: Modify syscall_name to return error code
  libbpf-tools/syscall_helpers.c
  libbpf-tools/syscall_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/syscount: Add --output for Line Protocol metrics
  libbpf-tools/syscount.c
  tools/images/syscount_call.png
  tools/images/syscount_latency.png
  tools/images/syscount_process.png
  tools/images/syscounts.png
  tools/syscount_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky
