Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/tcptracer: Remove unused parameter 'ctx'
  libbpf-tools/tcptracer.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: statsnoop: Missing dirfd check
  libbpf-tools/statsnoop.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

klockstat: Track IOCTL numbers
  libbpf-tools/ioctl_names.h
  libbpf-tools/klockstat.bpf.c
  libbpf-tools/klockstat.c
  libbpf-tools/klockstat.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

klockstat: Don't crash on NULL ksym when looping over stack
  libbpf-tools/klockstat.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

klockstat: Don't crash on NULL ksym when looping over stack
  libbpf-tools/klockstat.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

klockstat: Track IOCTL numbers
  libbpf-tools/ioctl_names.h
  libbpf-tools/klockstat.bpf.c
  libbpf-tools/klockstat.c
  libbpf-tools/klockstat.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/readahead: Fix low page usage count since v5.15
  libbpf-tools/readahead.bpf.c
  libbpf-tools/readahead.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Update vmlinux.h for all supported arch
  libbpf-tools/arm64/vmlinux.h
  libbpf-tools/arm64/vmlinux_608.h
  libbpf-tools/loongarch/vmlinux.h
  libbpf-tools/loongarch/vmlinux_602.h
  libbpf-tools/loongarch/vmlinux_614.h
  libbpf-tools/powerpc/vmlinux.h
  libbpf-tools/powerpc/vmlinux_614.h
  libbpf-tools/powerpc/vmlinux_660.h
  libbpf-tools/riscv/vmlinux.h
  libbpf-tools/riscv/vmlinux_602.h
  libbpf-tools/riscv/vmlinux_614.h
  libbpf-tools/s390/vmlinux.h
  libbpf-tools/s390/vmlinux_614.h
  libbpf-tools/s390/vmlinux_6413.h
  libbpf-tools/x86/vmlinux.h
  libbpf-tools/x86/vmlinux_518.h
  libbpf-tools/x86/vmlinux_614.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Adapt runqlen for struct field renaming
  libbpf-tools/core_fixes.bpf.h
  libbpf-tools/runqlen.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

offcputime.py and profile.py can now be stopped by SIGUSR1 signal
  tools/offcputime.py
  tools/profile.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tcpdrop: add support for dumping TCP drop reasons
  tools/tcpdrop.py
  tools/tcpdrop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/tcptracer: Remove unused parameter 'ctx' (#5253)
  libbpf-tools/tcptracer.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Adapt runqlen for struct field renaming
  libbpf-tools/core_fixes.bpf.h
  libbpf-tools/runqlen.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Update vmlinux.h for all supported arch
  libbpf-tools/arm64/vmlinux.h
  libbpf-tools/arm64/vmlinux_608.h
  libbpf-tools/loongarch/vmlinux.h
  libbpf-tools/loongarch/vmlinux_602.h
  libbpf-tools/loongarch/vmlinux_614.h
  libbpf-tools/powerpc/vmlinux.h
  libbpf-tools/powerpc/vmlinux_614.h
  libbpf-tools/powerpc/vmlinux_660.h
  libbpf-tools/riscv/vmlinux.h
  libbpf-tools/riscv/vmlinux_602.h
  libbpf-tools/riscv/vmlinux_614.h
  libbpf-tools/s390/vmlinux.h
  libbpf-tools/s390/vmlinux_614.h
  libbpf-tools/s390/vmlinux_6413.h
  libbpf-tools/x86/vmlinux.h
  libbpf-tools/x86/vmlinux_518.h
  libbpf-tools/x86/vmlinux_614.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: statsnoop: Missing dirfd check
  libbpf-tools/statsnoop.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

hardirqs: Optimize output information and increase CPU display
  libbpf-tools/hardirqs.bpf.c
  libbpf-tools/hardirqs.c
  libbpf-tools/hardirqs.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/readahead: Fix low page usage count since v5.15
  libbpf-tools/readahead.bpf.c
  libbpf-tools/readahead.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/sofdsnoop: Add argument "--ebpf"
  tools/sofdsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: syscall_helpers.c: support loongarch64 and add more generic syscall
  libbpf-tools/syscall_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/readahead: Fix low page usage count since v5.15 (#5257)
  libbpf-tools/readahead.bpf.c
  libbpf-tools/readahead.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: syscall_helpers.c: support loongarch64 and add more generic syscall (#5263)
  libbpf-tools/syscall_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/sofdsnoop: Add argument "--ebpf" (#5262)
  tools/sofdsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: syscall_helpers.c: Fix incorrect syscall name
  libbpf-tools/syscall_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: llcstat: Fix error: redefinition of 'key_info' on aarch64
  libbpf-tools/llcstat.bpf.c
  libbpf-tools/llcstat.c
  libbpf-tools/llcstat.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/readahead: Fix incorrect page accessed count since v5.16
  tools/readahead.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/readahead: Fix incorrect page accessed count since v5.16 (#5266)
  tools/readahead.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: syscall_helpers.c: Fix incorrect syscall name (#5264)
  libbpf-tools/syscall_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

uprobe: Fix failed to attach BPF to uprobe error
  src/cc/bcc_usdt.h
  src/cc/usdt.h
  src/cc/usdt/usdt.cc
  src/python/bcc/__init__.py
  src/python/bcc/libbcc.py
  src/python/bcc/usdt.py
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky, @goldshtn

libbpf-tools/drsnoop: Fix typo
  libbpf-tools/drsnoop.c
  libbpf-tools/drsnoop_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/drsnoop: Fix typo
  libbpf-tools/drsnoop.c
  libbpf-tools/drsnoop_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf: Fix event name too long error
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

BCC: Python: Support 'fmod_ret' method for eBPF
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

BCC: python: add a useful tool for mptcp
  tools/mptcpify.py
  tools/mptcpify.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: sigsnoop: display target process's comm
  libbpf-tools/sigsnoop.bpf.c
  libbpf-tools/sigsnoop.c
  libbpf-tools/sigsnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: sigsnoop: display target process's comm (#5272)
  libbpf-tools/sigsnoop.bpf.c
  libbpf-tools/sigsnoop.c
  libbpf-tools/sigsnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix event name too long error in python source (#5271)
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

libbpf-tools: llcstat: Fix error: redefinition of 'key_info' on aarch64 (#5265)
  libbpf-tools/llcstat.bpf.c
  libbpf-tools/llcstat.c
  libbpf-tools/llcstat.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

hardirqs: Optimize output information and increase CPU display (#5228)
  libbpf-tools/hardirqs.bpf.c
  libbpf-tools/hardirqs.c
  libbpf-tools/hardirqs.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Adapt to gcc 7.3.0 std::string.replace()
  src/cc/common.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Fix llvm compilation failure
  src/cc/bcc_debug.cc
  src/cc/bpf_module.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky
