Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky

consolidate sublist of Memory and Process Tools
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

split Filesystems Tools under Storage Tools
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

doc: Add mixing bpf2bpf calls and tailcalls
  docs/kernel-versions.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix incorrect output information
  tools/compactsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: Fix opensnoop compile errors when uses BlazeSym
  libbpf-tools/opensnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/futexctn: Fix compliation warning due to improper format specifier
  libbpf-tools/futexctn.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix opensnoop compile errors when uses BlazeSym
  libbpf-tools/opensnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/futexctn: Fix compliation warning due to improper format specifier
  libbpf-tools/futexctn.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix incorrect output information
  tools/compactsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: Fix bindsnoop for kernel v6.6+
  libbpf-tools/bindsnoop.bpf.c
  libbpf-tools/core_fixes.bpf.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

doc: Add mixing bpf2bpf calls and tailcalls
  docs/kernel-versions.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: Fix uninitialized issue
  libbpf-tools/opensnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

bcc/python: fix ctype warning when creating perf events
  src/python/bcc/perf.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

deb: fix python3 library path
  debian/python-bcc.install
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

deb: add required debian changelog
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools: Add execution permission for f2fsslower.py
  tools/f2fsslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

consolidate sublist of Memory and Process Tools
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

split Filesystems Tools under Storage Tools
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

add ipv4 check for the net monitor bpf program
  examples/networking/net_monitor.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix uninitialized issue
  libbpf-tools/opensnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

fix c_ulong type handle and decimal ip address bugs (#4850)
  examples/networking/net_monitor.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/memleak: Use compact size of key for sizes and memptrs maps
  tools/memleak.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/ksnoop: perf buffer fix unnecessary junk bits output
  libbpf-tools/ksnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/ksnoop: perf buffer fix unnecessary junk bits output
  libbpf-tools/ksnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/memleak: Fix data race on --combined-only
  tools/memleak.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/klockstat: Fix indent
  libbpf-tools/klockstat.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools: add udpsend.py to traces UDP sendmsg() calls
  README.md
  tools/udpsend.py
  tools/udpsend_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/klockstat: Fix indent
  libbpf-tools/klockstat.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/memleak: Use compact size of key for sizes and memptrs maps
  tools/memleak.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/memleak: Fix data race on --combined-only
  tools/memleak.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix 'biotop' command flag categorisation
  tools/biotop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

make 'biotop' executable
  tools/biotop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

examples/tracing: lbr.py trace cond branches executed by syscalls
  examples/tracing/lbr.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/klockstat: Fix incomplete header guard
  libbpf-tools/klockstat.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

examples/tracing: lbr.py trace cond branches executed by syscalls
  examples/tracing/lbr.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/klockstat: Fix incomplete header guard
  libbpf-tools/klockstat.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix 'biotop' command flag categorisation (#4875)
  tools/biotop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Add Python API for bpf_prog_test_run_opts
  src/python/bcc/libbcc.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

Add Python API for bpf_prog_test_run_opts
  src/python/bcc/libbcc.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

Fix userspace stack unwinding on powerpc
  src/python/bcc/table.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky
