Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in gethostlatency
  libbpf-tools/gethostlatency.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in statsnoop
  libbpf-tools/statsnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/biotop：Add PID filter support
  libbpf-tools/biotop.bpf.c
  libbpf-tools/biotop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

memleak:support third party alloctions by definitive symbols prefix
  tools/memleak.py
  tools/memleak_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix various build issues with latest llvm18
  CMakeLists.txt
  cmake/clang_libs.cmake
  src/cc/bpf_module_rw_engine.cc
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix various build issues with latest llvm18
  CMakeLists.txt
  cmake/clang_libs.cmake
  src/cc/bpf_module_rw_engine.cc
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Update debian changelog for release v0.29.0
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Update debian changelog for release v0.29.0
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

readme: remove colons after subtitles
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

docker: ubuntu: remove py2 package and build 22.04 docker image
  SPECS/bcc+clang.spec
  SPECS/bcc.spec
  debian/control
  debian/python-bcc.install
  debian/python3-bcc.install
  debian/rules
  docker/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

add %pS as allowed format specifier
  src/cc/frontends/clang/b_frontend_action.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

bcc/python: add perf_custom_event_open
  src/python/bcc/perf.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

readme: remove colons after subtitles
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

*.py: fix "SyntaxWarning: invalid escape sequence" when using Python 3.12
  examples/tracing/task_switch.py
  src/python/bcc/__init__.py
  tests/python/test_tools_smoke.py
  tests/python/test_trace2.py
  tools/exitsnoop.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

python/cmake: remove extraneous comma between variables
  src/python/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @davemarchevsky

python/cmake: remove extraneous comma between variables
  src/python/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @davemarchevsky

*.py: fix "SyntaxWarning: invalid escape sequence" when using Python 3.12
  examples/tracing/task_switch.py
  src/python/bcc/__init__.py
  tests/python/test_tools_smoke.py
  tests/python/test_trace2.py
  tools/exitsnoop.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

add %pS as allowed format specifier
  src/cc/frontends/clang/b_frontend_action.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

bcc/python: add perf_custom_event_open
  src/python/bcc/perf.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

readme: categorize runqlen and wakeuptime
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

consolidate sublist of performance and time Tools
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

consolidate sublist of performance and time Tools
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

readme: categorize runqlen and wakeuptime
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

docker: ubuntu: remove py2 package and build 22.04 docker image
  SPECS/bcc+clang.spec
  SPECS/bcc.spec
  debian/control
  debian/python-bcc.install
  debian/python3-bcc.install
  debian/rules
  docker/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix printf modifier
  libbpf-tools/futexctn.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

bcc/python: fix ctype warning when creating perf events
  src/python/bcc/perf.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

blkalgn: add block command alignment observability tool
  README.md
  man/man8/blkalgn.8
  tests/python/test_tools_smoke.py
  tools/blkalgn.py
  tools/blkalgn_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

deb: fix python3 library path
  debian/python-bcc.install
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix trace_helper symbol search bug
  libbpf-tools/trace_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix trace_helper symbol search bug
  libbpf-tools/trace_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix bindsnoop for kernel v6.6+
  libbpf-tools/bindsnoop.bpf.c
  libbpf-tools/core_fixes.bpf.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

deb: add required debian changelog
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Allow to install apps with prefixed names
  libbpf-tools/Makefile
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

fix c_ulog handle and decimal ip address bugs
  examples/networking/net_monitor.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

bcc/tools: Display information about the data received from virtio_net driver.
  tools/virtionet.py
  tools/virtionet_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

bcc/tools: Trace virtqueue kick event for virtio driver.
  tools/vqkick.py
  tools/vqkick_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

f2fsslower: track IO operations that are slower than a given threshold in F2FS file system (#4782)
  man/man8/f2fsslower.8
  tests/python/test_tools_smoke.py
  tools/f2fsslower.py
  tools/f2fsslower_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky, @drzaeus77, @yonghong-song

libbpf-tools: Allow to install apps with prefixed names
  libbpf-tools/Makefile
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: support to find symbols in different mount namespace
  libbpf-tools/trace_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools: Add execution permission for f2fsslower.py
  tools/f2fsslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky
