Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky

libbpf tcptop: Fix "unrecognized bpf_ld_imm64 insn" on 4.19
  libbpf-tools/tcptop.bpf.c
  libbpf-tools/tcptop.c
  libbpf-tools/tcptop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf tcptop: Fix PID column alignment when pids are large
  libbpf-tools/tcptop.c
  libbpf-tools/tcptop_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix GitHub actions deprecation warning notices
  .github/workflows/bcc-test.yml
  .github/workflows/publish-build-containers.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

test_tools_smoke.py: Add --no-nss when testing sslsniff.py
  tests/python/test_tools_smoke.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

tools/argdist.py: Fix verbose k/uprobe print to not have b'probe' on Python3
  tools/argdist.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/argdist.py: return when done, avoid raising SystemExit() for tests
  tools/argdist.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

test_tools_smoke.py: offwaketime.py mayFail in gh actions
  tests/python/test_tools_smoke.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

test_tools_smoke.py: Add --no-nss when testing sslsniff.py
  tests/python/test_tools_smoke.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

test_tools_smoke.py: offwaketime.py mayFail in gh actions
  tests/python/test_tools_smoke.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

tools/memleak: Fix the data error caused by the same key in map (#4970)
  tools/memleak.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/syscount: Fix incorrect errno usage (#4991)
  libbpf-tools/syscount.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix usdt_sample prerequisite list (#4992)
  examples/usdt_sample/usdt_sample.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix GitHub actions deprecation warning notices (#4994)
  .github/workflows/bcc-test.yml
  .github/workflows/publish-build-containers.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

{libbpf-tools,tools}/vfsstat: Add unlink,mkdir,rmdir stat
  libbpf-tools/vfsstat.bpf.c
  libbpf-tools/vfsstat.c
  libbpf-tools/vfsstat.h
  tools/vfsstat.py
  tools/vfsstat_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Narrow libbcc dependency from llvm-dev to just libllvm
  debian/control
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

{libbpf-tools,tools}/vfsstat: Add unlink,mkdir,rmdir stat (#4995)
  libbpf-tools/vfsstat.bpf.c
  libbpf-tools/vfsstat.c
  libbpf-tools/vfsstat.h
  tools/vfsstat.py
  tools/vfsstat_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/map_helpers: Fix duplicate map read operations
  libbpf-tools/map_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/profile: Batch lookup support for hash map
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/kvmexit: Add BUS_LOCK and NOTIFY reasons
  tools/kvmexit.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/sslsniff: fix length field for handshake
  tools/sslsniff.py
  tools/sslsniff_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix: startswith() is deprecated: Use starts_with instead
  src/cc/frontends/clang/b_frontend_action.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools: Add new feature doublefree
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/doublefree.bpf.c
  libbpf-tools/doublefree.c
  libbpf-tools/doublefree.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf tcptop: Fix PID column alignment when pids are large
  libbpf-tools/tcptop.c
  libbpf-tools/tcptop_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

argdist.py: Fix verbose printing b'bytes': decode bytes to str
  tools/argdist.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

clang: fail when the kheaders ownership is wrong (#4928)
  src/cc/frontends/clang/kbuild_helper.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

clang: fail when the kheaders ownership is wrong (#4928) (#4985)
  src/cc/frontends/clang/kbuild_helper.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf tcptop: Fix PID column alignment when pids are large (#5004)
  libbpf-tools/tcptop.c
  libbpf-tools/tcptop_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/map_helpers: Fix duplicate map read operations (#4998)
  libbpf-tools/map_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/kvmexit: Add BUS_LOCK and NOTIFY reasons (#5000)
  tools/kvmexit.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/sslsniff: fix length field for handshake (#5001)
  tools/sslsniff.py
  tools/sslsniff_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix: startswith() is deprecated: Use starts_with instead (#5002)
  src/cc/frontends/clang/b_frontend_action.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

argdist.py: Fix verbose printing b'bytes': decode bytes to str (#5005)
  tools/argdist.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

inject.py: fix BPF verification fails due to register offset
  tools/inject.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: Add new feature lsan on libbpf-tools
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/cvector.h
  libbpf-tools/lsan.bpf.c
  libbpf-tools/lsan.c
  libbpf-tools/lsan.h
  libbpf-tools/uthash.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Extend `bcc_proc` API. Allow to limit search to specific pid.
  src/cc/bcc_proc.c
  src/cc/bcc_proc.h
  src/python/bcc/__init__.py
  src/python/bcc/libbcc.py
  tests/cc/test_c_api.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky, @goldshtn

fix arg
  src/cc/bcc_proc.c
  tests/cc/test_c_api.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

int -> size_t
  src/cc/bcc_proc.c
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

build: remove llvm-dev dependency from libbcc
  src/cc/bpf_module.cc
  src/cc/bpf_module.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

build: Remove dependency on LLVM header from libbcc packages
  SPECS/bcc.spec
  debian/control
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

build: Remove dependency on LLVM header from libbcc packages
  SPECS/bcc.spec
  debian/control
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky
