Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Add support for executing a program and tracing it
  src/python/bcc/exec.py
  tools/opensnoop.py
  tools/syscount.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky, @brendangregg

libbpf-tools/ksnoop: Remove useless and white lines
  libbpf-tools/ksnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/{biolatency,biosnoop,biotop}: use TRACEPOINT_PROBE() for tracepoints
  tools/biolatency.py
  tools/biosnoop.py
  tools/biotop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/ksnoop: Remove useless and white lines (#5365)
  libbpf-tools/ksnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Add support for executing a program and tracing it (#5362)
  src/python/bcc/exec.py
  tools/opensnoop.py
  tools/syscount.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky, @brendangregg

add descriptions for using pid in attach_uprobe and attach_uretprobe.
  docs/reference_guide.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky
