Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Expose pid parameter in bpf_open_perf_event
  src/cc/api/BPF.cc
  src/cc/api/BPF.h
  src/cc/api/BPFTable.cc
  src/cc/api/BPFTable.h
  src/python/bcc/table.py
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky, @goldshtn

Edit perf_event cc and python tests with pid argument
  tests/cc/test_perf_event.cc
  tests/python/test_perf_event.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

tools/runqlat: fix data structure initialization with padding
  tools/runqlat.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: add block_io_{start,done} tracepoints support to bio tools
  libbpf-tools/biosnoop.bpf.c
  libbpf-tools/biosnoop.c
  libbpf-tools/biostacks.bpf.c
  libbpf-tools/biostacks.c
  libbpf-tools/biotop.bpf.c
  libbpf-tools/biotop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Expose pid parameter in bpf_open_perf_event
  src/cc/api/BPF.cc
  src/cc/api/BPF.h
  src/cc/api/BPFTable.cc
  src/cc/api/BPFTable.h
  src/python/bcc/table.py
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky, @goldshtn

Edit perf_event cc and python tests with pid argument
  tests/cc/test_perf_event.cc
  tests/python/test_perf_event.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

tools/runqlat: fix data structure initialization with padding
  tools/runqlat.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/rdmaucma: Add new command
  man/man8/rdmaucma.8
  tools/rdmaucma.py
  tools/rdmaucma_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

README: add rdmaucma
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

README: add rdmaucma
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools: Add support for the new block_io_* tracepoints
  tools/biolatency.py
  tools/biosnoop.py
  tools/biotop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools: Add support for the new block_io_* tracepoints
  tools/biolatency.py
  tools/biosnoop.py
  tools/biotop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/execsnoop: fix ret type of bpf_probe_read_user*.
  libbpf-tools/execsnoop.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/tcptop: Check the presence of tcp_sendpage before attaching it
  tools/tcptop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/execsnoop: fix ret type of bpf_probe_read_user*.
  libbpf-tools/execsnoop.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/tcptop: Check the presence of tcp_sendpage before attaching it
  tools/tcptop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

fix. backport compilation with llvm9 and earlier
  src/cc/bpf_module.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

tool/slabratetop: add definition of freelist_aba_t
  tools/slabratetop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/tcprtt: use simple cast instead of tcp_sk() and inet_sk()
  tools/tcprtt.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/tcptracer: remove custom inet_ntoa function
  tools/tcptracer.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools, libpf-tools: increase IPv6 address width to 39 characters
  libbpf-tools/tcplife.c
  libbpf-tools/tcpstates.c
  tools/tcplife.lua
  tools/tcplife.py
  tools/tcpstates.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/tcpstates: fix IPv6 journal
  tools/tcpstates.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/tcprtt: use the same options to filter IPv4 and IPv6 adresses
  libbpf-tools/tcprtt.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/tcprtt: Allow to filter on IPv6 addresses
  tools/tcprtt.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tool/slabratetop: add definition of freelist_aba_t
  tools/slabratetop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/tcprtt: use simple cast instead of tcp_sk() and inet_sk()
  tools/tcprtt.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/statsnoop: Add more stat() variansts
  tools/statsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/statsnoop: Add more stat() variansts
  tools/statsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

fix. backport compilation with llvm9 and earlier
  src/cc/bpf_module.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools: Add sslsniff
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/sslsniff.bpf.c
  libbpf-tools/sslsniff.c
  libbpf-tools/sslsniff.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

examples/perf/ipc: Use generic hardware events
  examples/perf/ipc.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: fix strncpy in sslsniff
  libbpf-tools/sslsniff.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix memory leak in capable.c
  libbpf-tools/capable.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: support hexdump for sslsniff
  libbpf-tools/sslsniff.c
  libbpf-tools/sslsniff.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: fix uid and pid filter for sslsniff
  libbpf-tools/sslsniff.bpf.c
  libbpf-tools/sslsniff.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/profile: add support for PID-namespacing
  tools/profile.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Allowing to get the histagram in a variable for deeper work
  src/python/bcc/table.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

Removing leftovers
  src/python/bcc/table.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

Fix memory leak in capable.c
  libbpf-tools/capable.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/profile: drop a leftover variable
  tools/profile.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky
