Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky

examples/perf/ipc: Use generic hardware events
  examples/perf/ipc.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools, libpf-tools: increase IPv6 address width to 39 characters
  libbpf-tools/tcplife.c
  libbpf-tools/tcpstates.c
  tools/tcplife.lua
  tools/tcplife.py
  tools/tcpstates.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/tcptracer: remove custom inet_ntoa function
  tools/tcptracer.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/tcprtt: Allow to filter on IPv6 addresses
  tools/tcprtt.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/tcpstates: fix IPv6 journal
  tools/tcpstates.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/tcprtt: use the same options to filter IPv4 and IPv6 adresses
  libbpf-tools/tcprtt.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Removing leftovers
  src/python/bcc/table.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

Allowing to get the histagram in a variable for deeper work
  src/python/bcc/table.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

Add BCC script for Calculating Scheduler latency and Decision latency
  tools/scheduler_decision_latency.py
  tools/scheduler_decision_latency_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/{filegone.py,filelife.py}: Check btf struct field for CO-RE
  tools/filegone.py
  tools/filelife.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/filelife: Check btf struct field for CO-RE
  libbpf-tools/core_fixes.bpf.h
  libbpf-tools/filelife.bpf.c
  libbpf-tools/filelife.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/profile_example: add a note about PID-namespacing
  tools/profile_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

Allow for installing python as a non-system package
  src/python/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @davemarchevsky

tools: trace processes by pid list
  tools/tcpaccept.py
  tools/tcpaccept_example.txt
  tools/tcpconnect.py
  tools/tcpconnect_example.txt
  tools/tcpconnlat.py
  tools/tcpconnlat_example.txt
  tools/tcpdrop_example.txt
  tools/tcplife.py
  tools/tcplife_example.txt
  tools/tcptop.py
  tools/tcptop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/filelife: Check btf struct field for CO-RE
  libbpf-tools/core_fixes.bpf.h
  libbpf-tools/filelife.bpf.c
  libbpf-tools/filelife.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

cc: remove a spurious check for UID 0
  src/cc/bcc_proc.c
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools: Modify error message on uprobe_helpers
  libbpf-tools/uprobe_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools: Remove manual `KBUILD_MODNAME` definition
  tools/nfsslower.py
  tools/rdmaucma.py
  tools/tcprtt.py
  tools/virtiostat.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/profile: add support for PID-namespacing (#4709)
  tools/profile.py
  tools/profile_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/{filegone.py,filelife.py}: Check btf struct field for CO-RE
  tools/filegone.py
  tools/filelife.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Allow for installing python as a non-system package
  src/python/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @davemarchevsky

cc: remove a spurious check for UID 0
  src/cc/bcc_proc.c
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

tools: Remove manual `KBUILD_MODNAME` definition
  tools/nfsslower.py
  tools/rdmaucma.py
  tools/tcprtt.py
  tools/virtiostat.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/ppchcalls : Add new hcalls introduced for nested KVM support
  tools/ppchcalls.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/ppchcalls : Add new hcalls introduced for nested KVM support
  tools/ppchcalls.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

arm64: unbreak bcc tools on arm64 kasan-enabled kernels
  src/cc/export/bpf_workaround.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Adding libbpf version of swapin
  libbpf-tools/Makefile
  libbpf-tools/swapin.bpf.c
  libbpf-tools/swapin.c
  libbpf-tools/swapin.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Improving help message
  libbpf-tools/swapin.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Use LLVM_VERSION_MAJOR from llvm-config.h instead of inferred LLVM_MAJOR_VERSION
  examples/cpp/CMakeLists.txt
  src/cc/CMakeLists.txt
  src/cc/bcc_debug.cc
  src/cc/bcc_debug.h
  src/cc/bpf_module.cc
  src/cc/bpf_module.h
  src/cc/bpf_module_rw_engine.cc
  src/cc/frontends/clang/b_frontend_action.cc
  src/cc/frontends/clang/frontend_action_common.h
  src/cc/frontends/clang/loader.cc
  src/cc/json_map_decl_visitor.cc
  tests/cc/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

sanitizer: Fix UndefinedBehaviorSanitizer: non-positive-vla-index
  src/cc/api/BPF.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Adding memory zones for Power server
  tools/compactsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Skipping USDT tests for Power processor
  tests/python/CMakeLists.txt
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

use tid instead of tgid
  libbpf-tools/memleak.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Check biolatency tracepoints using BTF
  libbpf-tools/biolatency.bpf.c
  libbpf-tools/biolatency.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools: Add hash table item batch operations support
  tools/argdist.py
  tools/biopattern.py
  tools/biotop.py
  tools/cachestat.py
  tools/cachetop.py
  tools/dirtop.py
  tools/filetop.py
  tools/klockstat.py
  tools/netqtop.py
  tools/slabratetop.py
  tools/stackcount.py
  tools/swapin.py
  tools/syscount.py
  tools/tcprtt.py
  tools/tcptop.py
  tools/wakeuptime.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/stackscan: Add bpf helper for stack scan based similar backtrace
  libbpf-tools/stackscan.bpf.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/offcputime: Add -s option for stack scan based similar backtrace
  libbpf-tools/Makefile
  libbpf-tools/offcputime.bpf.c
  libbpf-tools/offcputime.c
  libbpf-tools/offcputime.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/gotlskeylog: trace TLS secrets in golang app
  man/man8/gotlskeylog.8
  tools/gotlskeylog.py
  tools/gotlskeylog_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/ttysnoop: Introduce __ubuf_iovec support.
  tools/ttysnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

use tid instead of tgid
  libbpf-tools/memleak.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky
