Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/wakeuptime: Add offset to kernel stack trace
  tools/wakeuptime.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix larchintrin.h not found error for loongarch64
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

tools/readahead: Add filemap_alloc_folio_noprof() support
  tools/readahead.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/profile: Fix incorrect condition in if statement
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/profile: Add additional information to backtrace for -v option
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/wakeuptime: Add offset to kernel stack trace
  tools/wakeuptime.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix larchintrin.h not found error for loongarch64
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

tools/readahead: Add filemap_alloc_folio_noprof() support
  tools/readahead.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/shmsnoop: Print shmctl command string
  tools/shmsnoop.py
  tools/shmsnoop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/shmsnoop: Print shmctl command string
  tools/shmsnoop.py
  tools/shmsnoop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libpf-tools/readahead: Fix attachment failure
  libbpf-tools/readahead.bpf.c
  libbpf-tools/readahead.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Add filemap_alloc_folio_noprof
  libbpf-tools/readahead.bpf.c
  libbpf-tools/readahead.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Add flag `-Werror=undef`
  libbpf-tools/Makefile
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

bcc: Use `-Werror=undef`
  CMakeLists.txt
  src/cc/frontends/clang/CMakeLists.txt
  src/cc/usdt/usdt.cc
  tests/cc/test_usdt_args.cc
  tests/python/include/folly/tracing/StaticTracepoint.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Add submodule c-vector
  .gitmodules
  CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Add submodule uthash
  .gitmodules
  CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Add new feature ALSan on libbpf-tools
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/alsan.bpf.c
  libbpf-tools/alsan.c
  libbpf-tools/alsan.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

offcputime: Support tracking specified processes and threads
  tools/offcputime.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

fix typo in example
  tools/argdist_example.txt
  tools/readahead_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

fix typo in example
  tools/argdist_example.txt
  tools/readahead_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: Add flag `-Werror=undef`
  libbpf-tools/Makefile
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libpf-tools/readahead: Fix attachment failure since v5.16 (#5086)
  libbpf-tools/readahead.bpf.c
  libbpf-tools/readahead.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

offcputime: Support tracking specified processes and threads
  tools/offcputime.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Fix a compilation issue with llvm20
  src/cc/bcc_debug.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Fix a compilation issue with llvm20
  src/cc/bcc_debug.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Set cpu=v1 explicitly
  src/cc/bpf_module.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Set cpu=v1 explicitly
  src/cc/bpf_module.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools: add funcinterval
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/funcinterval.bpf.c
  libbpf-tools/funcinterval.c
  libbpf-tools/funcinterval.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: funcinterval: add ensure_core_btf and cleanup_core_btf
  libbpf-tools/funcinterval.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

cpudist.py supports run in pid namespace
  tools/cpudist.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

fix variable name collision
  tools/cpudist.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Pid namespace support (#5101)
  tools/cpudist.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Remove unneeded error.h include to allow build with musl libc
  examples/cpp/KModRetExample.cc
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Adding ability to truncate output
  tools/tcptop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/mariadb_query_io.py: new tool
  tools/mariadb_query_io.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/futex_slow.py: new tool
  tools/futex_slow.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/profile: Fix the help message for multi process/thread
  libbpf-tools/profile.c
  tools/profile.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Remove unneeded error.h include to allow build with musl libc (#5105)
  examples/cpp/KModRetExample.cc
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/profile: Fix the help message for multi process/thread
  libbpf-tools/profile.c
  tools/profile.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/softirqs: Add `-c/--cpu` option to filter cpu
  libbpf-tools/Makefile
  libbpf-tools/softirqs.bpf.c
  libbpf-tools/softirqs.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky
