Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky

libbpf-tools/biotop: Add --output for Line Protocol metrics
  libbpf-tools/biotop.c
  tools/biotop_example.txt
  tools/images/biotop_io.png
  tools/images/biotop_latency.png
  tools/images/biotops.png
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/trace_helpers: Add a utility for metric output
  libbpf-tools/memleak.c
  libbpf-tools/syscount.c
  libbpf-tools/trace_helpers.c
  libbpf-tools/trace_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/memleak: Add --output for Line Protocol metrics
  libbpf-tools/memleak.c
  tools/images/memleak_count.png
  tools/images/memleak_kernel.png
  tools/images/memleak_size.png
  tools/memleak_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

ci: Add --tags option to git describe
  cmake/GetGitRevisionDescription.cmake
  cmake/version.cmake
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Add missing install dependencies to INSTALL.md
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Add missing install dependencies to INSTALL.md (#5319)
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Sync with latest libbpf repo
  src/cc/compat/linux/virtual_bpf.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Sync with latest libbpf repo (#5320)
  src/cc/compat/linux/virtual_bpf.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Update debian changelog for release v0.35.0
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Update debian changelog for release v0.35.0 (#5321)
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

doc: remove some dead links in LINKS.md
  LINKS.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/opensnoop: support mount parent full-path
  tools/opensnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: opensnoop: add full-path argument -F
  libbpf-tools/opensnoop.bpf.c
  libbpf-tools/opensnoop.c
  libbpf-tools/opensnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

python: Replace deprecated setup.py with pypa/build+pip
  CMakeLists.txt
  cmake/CmakeUninstall.cmake.in
  src/python/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CI: add a CI to check dead links
  .github/scripts/check_links.py
  .github/workflows/check_links.yml
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Added functionality to detach all uprobes for a binary
  src/cc/api/BPF.cc
  src/cc/api/BPF.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Doc/dead links (#5322)
  .github/scripts/check_links.py
  .github/workflows/check_links.yml
  LINKS.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: opensnoop: add full-path argument -F
  libbpf-tools/opensnoop.bpf.c
  libbpf-tools/opensnoop.c
  libbpf-tools/opensnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Added functionality to detach all uprobes for a binary (#5325)
  src/cc/api/BPF.cc
  src/cc/api/BPF.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

removing luajit options to ensure no errors will be thrown when running
  src/lua/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/offcputime: fix min or max_block_ns unit
  libbpf-tools/offcputime.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: opensnoop: add full-path argument -F
  libbpf-tools/opensnoop.bpf.c
  libbpf-tools/opensnoop.c
  libbpf-tools/opensnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: opensnoop: add full-path argument -F (#5323)
  libbpf-tools/opensnoop.bpf.c
  libbpf-tools/opensnoop.c
  libbpf-tools/opensnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

removing luajit options to ensure no errors will be thrown when running (#5326)
  src/lua/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/offcputime: fix min or max_block_ns unit (#5327)
  libbpf-tools/offcputime.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

python: Replace deprecated setup.py with pypa/build+pip
  CMakeLists.txt
  cmake/CmakeUninstall.cmake.in
  src/python/CMakeLists.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: add tcpdrop to trace TCP packet drops
  libbpf-tools/Makefile
  libbpf-tools/tcpdrop.bpf.c
  libbpf-tools/tcpdrop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: fix build error on ppc64el (#5330)
  libbpf-tools/bashreadline.c
  libbpf-tools/bindsnoop.c
  libbpf-tools/biosnoop.c
  libbpf-tools/capable.c
  libbpf-tools/drsnoop.c
  libbpf-tools/execsnoop.c
  libbpf-tools/exitsnoop.c
  libbpf-tools/filelife.c
  libbpf-tools/fsslower.c
  libbpf-tools/gethostlatency.c
  libbpf-tools/ksnoop.c
  libbpf-tools/mdflush.c
  libbpf-tools/mountsnoop.c
  libbpf-tools/oomkill.c
  libbpf-tools/opensnoop.c
  libbpf-tools/runqslower.c
  libbpf-tools/sigsnoop.c
  libbpf-tools/solisten.c
  libbpf-tools/statsnoop.c
  libbpf-tools/syncsnoop.c
  libbpf-tools/tcpconnect.c
  libbpf-tools/tcpconnlat.c
  libbpf-tools/tcplife.c
  libbpf-tools/tcppktlat.c
  libbpf-tools/tcpstates.c
  libbpf-tools/tcptracer.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/opensnoop: one event is enough for full-path
  tools/opensnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: runqslower: add -c option to trace specified comm
  libbpf-tools/runqslower.bpf.c
  libbpf-tools/runqslower.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/opensnoop: support mount full-path
  libbpf-tools/opensnoop.bpf.c
  libbpf-tools/opensnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

fix typo in README.md
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

fix typo in README.md (#5335)
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/opensnoop: support mount full-path (#5333)
  libbpf-tools/opensnoop.bpf.c
  libbpf-tools/opensnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: runqslower: add -c option to filter by process name prefix
  libbpf-tools/runqslower.bpf.c
  libbpf-tools/runqslower.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Bcc: mptcpify: add the NULL check for variable 'mode'
  tools/mptcpify.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Bcc: mptcpify: add the NULL check for variable 'mode' (#5336)
  tools/mptcpify.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/opensnoop: one event is enough for full-path
  tools/opensnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/opensnoop: one event is enough for full-path (#5334)
  tools/opensnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/opensnoop: support mount full-path
  tools/opensnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky
