Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fixing whitespace
  libbpf-tools/swapin.bpf.c
  libbpf-tools/swapin.c
  libbpf-tools/swapin.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Filter with available_filter_functions in BPF.get_kprobe_functions()
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

kvmexitaarch64: introduce a tool to show kvm exit reason and count, duration of kvm exiting
  README.md
  man/man8/kvmexitaarch64.8
  tools/kvmexitaarch64.py
  tools/kvmexitaarch64_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

change storage type of helper err to int
  libbpf-tools/maps.bpf.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Updating Powerpc vmlinux headers from Linux kernel 6.0
  libbpf-tools/powerpc/vmlinux.h
  libbpf-tools/powerpc/vmlinux_514.h
  libbpf-tools/powerpc/vmlinux_600.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Memleak: don't kill process if attached
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/memleak: fix 'show allocs'
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/wakeuptime: Reverse order of stack output
  tools/wakeuptime.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/memleak: remove 'PERCPU' from argp_args_doc
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/funcslower: fix printing of folded stacks
  tools/funcslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/profile: Allow to increment hash storage size to aviod missing keys
  tools/profile.py
  tools/profile_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/memleak: remove 'PERCPU' from argp_args_doc
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/memleak: remove unused arg "PERCPU"
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

change storage type of helper err to int
  libbpf-tools/maps.bpf.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Add option to count tcp accept number by PID with default 5s interval or a specified interval
  tools/tcpaccept.py
  tools/tcpaccept_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

Filter with available_filter_functions in BPF.get_kprobe_functions()
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

libbpf-tools/memleak: make it run on old kernel
  libbpf-tools/core_fixes.bpf.h
  libbpf-tools/memleak.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

kvmexit.py: add duration of KVM EXIT state for outputing
  tools/kvmexit.py
  tools/kvmexit_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

Change the ssh clone method to https method
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fixing swapin include order
  libbpf-tools/swapin.bpf.c
  libbpf-tools/swapin.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/memleak: make it run on old kernel
  libbpf-tools/core_fixes.bpf.h
  libbpf-tools/memleak.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Change the ssh clone method to https method
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

sync with latest libbpf repo
  src/cc/compat/linux/virtual_bpf.h
  src/cc/export/helpers.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

sync with latest libbpf repo
  src/cc/compat/linux/virtual_bpf.h
  src/cc/export/helpers.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

tools/dslower: add dslower to trace process block time (block in D state)
  README.md
  man/man8/dslower.8
  tools/dslower.py
  tools/dslower_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

dslower: fix perm
  tools/dslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

dslower: fix state filter logic and add finish_task_swith compat support
  tools/dslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/dslower: add --ppid and --state option
  tools/dslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/funclatency: Clear histgram record after interval output
  libbpf-tools/funclatency.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/funclatency: Clear histogram record after interval output
  libbpf-tools/funclatency.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools: Update default stack storage size to reduce frequent warnings
  tools/offcputime.py
  tools/offcputime_example.txt
  tools/offwaketime.py
  tools/offwaketime_example.txt
  tools/wakeuptime.py
  tools/wakeuptime_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/deadlock: Add an option to set the maximum number of stack traces
  tools/deadlock.c
  tools/deadlock.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

dslower: add man for -c|--ppid option
  man/man8/dslower.8
  tools/dslower.py
  tools/dslower_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

rm duplicated iperf/netperf in dockerfile.ubuntu
  docker/build/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tcprtt: Consolidate kprobe and fentry implementations
  libbpf-tools/tcprtt.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tcprtt: Consolidate kprobe and fentry implementations
  libbpf-tools/tcprtt.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/memleak: support ksyms and syms_cache
  libbpf-tools/memleak.bpf.c
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Support ringbuf_query method for Ring buffer
  docs/reference_guide.md
  src/cc/export/helpers.h
  src/cc/frontends/clang/b_frontend_action.cc
  tests/python/test_ringbuf.py
Owners: @brendangregg, @goldshtn, @davemarchevsky, @drzaeus77, @yonghong-song, @4ast

tcpconnlat: Remove entries from map in all cases
  libbpf-tools/tcpconnlat.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tcpconnlat: Remove entries from map in all cases
  libbpf-tools/tcpconnlat.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky
