Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Added support for parsing usdt arguments to RISC-V
  src/cc/usdt.h
  src/cc/usdt/usdt.cc
  src/cc/usdt/usdt_args.cc
  tests/cc/test_usdt_args.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

resource clean-up before returning
  tools/f2fsslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Added support for parsing usdt arguments to RISC-V
  src/cc/usdt.h
  src/cc/usdt/usdt.cc
  src/cc/usdt/usdt_args.cc
  tests/cc/test_usdt_args.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools/memleak: correct key size of memptrs
  libbpf-tools/memleak.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

test: Preserving relative path for tools directory
  tests/python/test_tools_memleak.py
  tests/python/test_tools_smoke.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

libbpf-tools/memleak: correct key size of memptrs
  libbpf-tools/memleak.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/memleak: Add --sort option to report ordered in size or count
  tools/memleak.py
  tools/memleak_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/biotop：Add PID filter support
  libbpf-tools/biotop.bpf.c
  libbpf-tools/biotop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

consolidate sublist of storage tools
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

consolidate sublist of storage tools
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

consolidate sublist of network tools
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: add futexctn
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/futexctn.bpf.c
  libbpf-tools/futexctn.c
  libbpf-tools/futexctn.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Add support for folded format stack dump in offcputime and wakeuptime
  libbpf-tools/offcputime.c
  libbpf-tools/wakeuptime.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

consolidate sublist of network tools
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

memleak:support third party alloctions by definitive symbols prefix
  tools/memleak.py
  tools/memleak_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

consolidate sublist of cpu and scheduler tools
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in biosnoop
  libbpf-tools/biosnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in filelife
  libbpf-tools/filelife.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in fsslower
  libbpf-tools/fsslower.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in gethostlatency
  libbpf-tools/gethostlatency.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in opensnoop
  libbpf-tools/opensnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in runqslower
  libbpf-tools/runqslower.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in statsnoop
  libbpf-tools/statsnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in tcpconnect
  libbpf-tools/tcpconnect.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in tcplife
  libbpf-tools/tcplife.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in tcpstates
  libbpf-tools/tcpstates.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in tcptracer
  libbpf-tools/tcptracer.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in drsnoop
  libbpf-tools/drsnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

avxtime: Summarize AVX-512 cputime per task as a histogram
  README.md
  man/man8/avxtime.8
  tools/avxtime.py
  tools/avxtime_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

consolidate sublist of cpu and scheduler tools
  README.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in tcpstates
  libbpf-tools/tcpstates.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in opensnoop
  libbpf-tools/opensnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in filelife
  libbpf-tools/filelife.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in tcptracer
  libbpf-tools/tcptracer.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in drsnoop
  libbpf-tools/drsnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in fsslower
  libbpf-tools/fsslower.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in runqslower
  libbpf-tools/runqslower.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in tcplife
  libbpf-tools/tcplife.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in tcpconnect
  libbpf-tools/tcpconnect.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Fix misaligned pointer accesses in biosnoop
  libbpf-tools/biosnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky
