Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: syscount: Add syscall lookup table for arm64 and riscv
  libbpf-tools/syscall_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/opensnoop: Display mode.
  libbpf-tools/opensnoop.bpf.c
  libbpf-tools/opensnoop.c
  libbpf-tools/opensnoop.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Create SECURITY.md
  SECURITY.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

bcc: Fix hash table batch operation attribute error
  src/python/bcc/table.py
  tests/python/test_map_batch_ops.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky, @yonghong-song

libbpf-tools: add tcppktlat
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/tcppktlat.bpf.c
  libbpf-tools/tcppktlat.c
  libbpf-tools/tcppktlat.h
  libbpf-tools/tcppktlat_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

bcc: Fix hash table batch operation attribute error
  src/python/bcc/table.py
  tests/python/test_map_batch_ops.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky, @yonghong-song

fix duplicate entries for COMM
  tools/argdist.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Update documentation to add usage of COMM agrument
  tools/argdist.py
  tools/argdist_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: memleak: fix tracepoint adjusting after Linux 6.1
  libbpf-tools/core_fixes.bpf.h
  libbpf-tools/memleak.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: add tcppktlat
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/tcppktlat.bpf.c
  libbpf-tools/tcppktlat.c
  libbpf-tools/tcppktlat.h
  libbpf-tools/tcppktlat_example.txt
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: syscount: Add syscall lookup table for arm64 and riscv
  libbpf-tools/syscall_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

argdist: print process name COMM (#4633)
  tools/argdist.py
  tools/argdist_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: Avoid virtual memory area [uprobes] warning
  libbpf-tools/trace_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/funccount: Fix abort error when counting tracepoints
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

Handle exception from callback
  tools/opensnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/funccount: Fix abort error when counting tracepoints
  src/python/bcc/__init__.py
Owners: @drzaeus77, @goldshtn, @davemarchevsky

libbpf-tools: Avoid virtual memory area [uprobes] warning
  libbpf-tools/trace_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

cpufreq: read initial freqs only of valid links
  libbpf-tools/cpufreq.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: add filter for biosnoop
  libbpf-tools/biosnoop.bpf.c
  libbpf-tools/biosnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

cpufreq: read initial freqs only of valid links
  libbpf-tools/cpufreq.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: add filter for biosnoop
  libbpf-tools/biosnoop.bpf.c
  libbpf-tools/biosnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

kvmexit: Don't use raw tracepoint
  tools/kvmexit.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/biosnoop: Fix out-of-bounds accessing of rq
  libbpf-tools/biosnoop.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/biosnoop: Fix out-of-bounds accessing of rq
  libbpf-tools/biosnoop.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

kvmexit: Don't use raw tracepoint
  tools/kvmexit.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Update debian changelog for release v0.28.0
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Update debian changelog for release v0.28.0
  debian/changelog
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: fallback to tracefs mount point if debugfs is not mounted
  libbpf-tools/trace_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Allow tcppktlat to run on old kernels
  libbpf-tools/core_fixes.bpf.h
  libbpf-tools/tcppktlat.bpf.c
  libbpf-tools/tcppktlat.c
  libbpf-tools/tcppktlat.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: fallback to tracefs mount point if debugfs is not mounted
  libbpf-tools/trace_helpers.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/tcpstates: fix context ptr modified error
  tools/tcpstates.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/statsnoop: bring back the syscall__ prefix
  tools/statsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: Add support for IPv6 to tcprtt.
  libbpf-tools/tcprtt.bpf.c
  libbpf-tools/tcprtt.c
  libbpf-tools/tcprtt.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Add support for IPv6 to tcprtt.
  libbpf-tools/tcprtt.bpf.c
  libbpf-tools/tcprtt.c
  libbpf-tools/tcprtt.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/tcpstates: fix context ptr modified error
  tools/tcpstates.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: Allow tcppktlat to run on old kernels
  libbpf-tools/core_fixes.bpf.h
  libbpf-tools/tcppktlat.bpf.c
  libbpf-tools/tcppktlat.c
  libbpf-tools/tcppktlat.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/statsnoop: bring back the syscall__ prefix
  tools/statsnoop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: add block_io_{start,done} tracepoints support to bio tools
  libbpf-tools/biosnoop.bpf.c
  libbpf-tools/biosnoop.c
  libbpf-tools/biostacks.bpf.c
  libbpf-tools/biostacks.c
  libbpf-tools/biotop.bpf.c
  libbpf-tools/biotop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: fix tcppktlat show wrong ports
  libbpf-tools/tcppktlat.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: fix tcppktlat show wrong ports
  libbpf-tools/tcppktlat.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky
