Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky

libbpf-tools: Support memleak trace third-part allocators
  libbpf-tools/memleak.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

remove llvm-12-dev from debian package dependency
  debian/control
  docker/Dockerfile.ubuntu
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/{biolatency,biosnoop,biotop}: Use tracepoint first
  tools/biolatency.py
  tools/biosnoop.py
  tools/biotop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

fix zfsslower check for zpl_read / zpl_iter (fixes #4952)
  tools/zfsslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

apply the same fix to zfsdist
  tools/zfsdist.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/{biolatency,biosnoop,biotop}: Use tracepoint first (#4950)
  tools/biolatency.py
  tools/biosnoop.py
  tools/biotop.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Workround flaky subtest 'offaketime.py 1' in test_tools_smoke.py
  tests/python/test_tools_smoke.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

Workround flaky subtest 'offaketime.py 1' in test_tools_smoke.py (#4954)
  tests/python/test_tools_smoke.py
Owners: @drzaeus77, @yonghong-song, @davemarchevsky

fix zfsslower check for zpl_read / zpl_iter (fixes #4952) (#4953)
  tools/zfsdist.py
  tools/zfsslower.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/numamove: Add folio support
  libbpf-tools/numamove.bpf.c
  libbpf-tools/numamove.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

INSTALL.md: Add Ubuntu 23.10 (Mantic Minotaur) packages
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: Use `BPF_U[RET]PROBE` for uprobes
  libbpf-tools/bashreadline.bpf.c
  libbpf-tools/gethostlatency.bpf.c
  libbpf-tools/memleak.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

*.py: fix incorrect regex escaping
  examples/tracing/task_switch.py
  src/python/bcc/__init__.py
  tests/python/test_trace2.py
  tools/exitsnoop.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

docs: Fix typo
  docs/special_filtering.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

docs: Fix typo
  docs/special_filtering.md
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: Use `BPF_U[RET]PROBE` for uprobes
  libbpf-tools/bashreadline.bpf.c
  libbpf-tools/gethostlatency.bpf.c
  libbpf-tools/memleak.bpf.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

INSTALL.md: Add Ubuntu 23.10 (Mantic Minotaur) packages
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: add CO-RE 'syncsnoop'
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/syncsnoop.bpf.c
  libbpf-tools/syncsnoop.c
  libbpf-tools/syncsnoop.h
  man/man8/syncsnoop.8
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: add CO-RE 'syncsnoop'
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/syncsnoop.bpf.c
  libbpf-tools/syncsnoop.c
  libbpf-tools/syncsnoop.h
  man/man8/syncsnoop.8
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: add CO-RE 'pidpersec'
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/pidpersec.bpf.c
  libbpf-tools/pidpersec.c
  libbpf-tools/pidpersec.h
  man/man8/pidpersec.8
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: add string helpers
  libbpf-tools/Makefile
  libbpf-tools/string_helpers.c
  libbpf-tools/string_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/trace_helpers: filter ksyms by regex
  libbpf-tools/trace_helpers.c
  libbpf-tools/trace_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

*.py: fix incorrect regex escaping (#4961)
  examples/tracing/task_switch.py
  src/python/bcc/__init__.py
  tests/python/test_trace2.py
  tools/exitsnoop.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/numamove: Add folio support (#4955)
  libbpf-tools/numamove.bpf.c
  libbpf-tools/numamove.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: add CO-RE 'vfscount'
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/vfscount.bpf.c
  libbpf-tools/vfscount.c
  libbpf-tools/vfscount.h
  man/man8/vfscount.8
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/trace_helpers: Fix incorrect DSO information in stacktrace
  libbpf-tools/futexctn.c
  libbpf-tools/memleak.c
  libbpf-tools/offcputime.c
  libbpf-tools/trace_helpers.c
  libbpf-tools/trace_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/memleak: Fix the data error caused by the same key in map
  tools/memleak.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

profile.py: On pre-5.7 kernels, skip pid ns mapping (fallback)
  tools/profile.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/old/profile.py: Update output format (str.decode()) for Python3
  tools/old/profile.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/old/profile.py: Backport the page_offset from tools/profile.py
  tools/old/profile.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools: add CO-RE dcstat.
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/dcstat.bpf.c
  libbpf-tools/dcstat.c
  libbpf-tools/dcstat.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools: add BPF CO-RE filegone
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/filegone.bpf.c
  libbpf-tools/filegone.c
  libbpf-tools/filegone.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/trace_helpers: Fix incorrect DSO information in stacktrace
  libbpf-tools/futexctn.c
  libbpf-tools/memleak.c
  libbpf-tools/offcputime.c
  libbpf-tools/trace_helpers.c
  libbpf-tools/trace_helpers.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

profile.py: On pre-5.7 kernels, skip pid ns mapping (fallback) (#4974)
  tools/profile.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Add support for bcachefs to fsdist and fsslower tools
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/fsdist.c
  libbpf-tools/fsslower.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/syscount: Fix incorrect errno usage
  libbpf-tools/syscount.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix usdt_sample prerequisite list
  examples/usdt_sample/usdt_sample.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Sync with latest libbpf repo
  introspection/bps.c
  src/cc/compat/linux/virtual_bpf.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Sync with latest libbpf repo (#4993)
  introspection/bps.c
  src/cc/compat/linux/virtual_bpf.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Add support for bcachefs to fsdist and fsslower tools (#4989)
  libbpf-tools/.gitignore
  libbpf-tools/Makefile
  libbpf-tools/fsdist.c
  libbpf-tools/fsslower.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky
