Repository iovisor/bcc, changes with the owners that CODEOWNERS names for each.
All owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

build: remove llvm-dev dependency from libbcc
  src/cc/bpf_module.cc
  src/cc/bpf_module.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

tools/swapin: Support swap_read_folio()
  tools/swapin.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/profile_example.txt: Modifies document structure
  tools/profile_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/biosnoop: Fix run error if not support fentry
  libbpf-tools/biosnoop.bpf.c
  libbpf-tools/biosnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/capable: Add additional information to backtrace for -v option
  libbpf-tools/capable.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/futexctn: Fix some backtrace information for -v option is missing
  libbpf-tools/futexctn.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

USDT: Fix bare register dereference on aarch64
  src/cc/usdt/usdt_args.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools/klockstat.c: fix delete elem bug when reset stats
  libbpf-tools/klockstat.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Remove duplicate import of 'pack' from struct module
  tools/tcpcong.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/klockstat.c: fix delete elem bug when reset stats
  libbpf-tools/klockstat.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

inject.py: fix BPF verification fails due to register offset
  tools/inject.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/profile_example.txt: Modifies document structure
  tools/profile_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/swapin: Support swap_read_folio()
  tools/swapin.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

Remove duplicate import of 'pack' from struct module
  tools/tcpcong.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/klockstat.c: fix delete elem bug when reset stats
  libbpf-tools/klockstat.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Sync with latest libbpf repo
  src/cc/compat/linux/virtual_bpf.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools/capable: Add additional information to backtrace for -v option
  libbpf-tools/capable.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Sync with latest libbpf repo
  src/cc/compat/linux/virtual_bpf.h
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

libbpf-tools/futexctn: Fix some backtrace information for -v option is missing
  libbpf-tools/futexctn.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/profile: Add multi process/thread support
  libbpf-tools/profile.bpf.c
  libbpf-tools/profile.c
  libbpf-tools/profile.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Update execsnoop.c
  libbpf-tools/execsnoop.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Fix warning: multiple identical address spaces specified for type on x86
  src/cc/frontends/clang/loader.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

tools/execsnoop: Add -M,--print-pcomm argument
  tools/execsnoop.py
  tools/execsnoop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/profile: Add multi process/thread support
  libbpf-tools/profile.bpf.c
  libbpf-tools/profile.c
  libbpf-tools/profile.h
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

USDT: Fix bare register dereference on aarch64
  src/cc/usdt/usdt_args.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

Fix warning: multiple identical address spaces specified for type on x86
  src/cc/frontends/clang/loader.cc
Owners: @drzaeus77, @yonghong-song, @4ast, @davemarchevsky

tools/execsnoop: Add -M,--print-pcomm argument
  tools/execsnoop.py
  tools/execsnoop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

tools/mountsnoop: Support fsopen(2), fsmount(2), fsconfig(2), move_mount(2)
  tools/mountsnoop.py
  tools/mountsnoop_example.txt
Owners: @brendangregg, @goldshtn, @davemarchevsky

Added change to Debian source installation steps to ensure build tools include clang version 13 and zip dependency
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tools/biolatency: Add support for blktrace events
  tools/biolatency.py
Owners: @brendangregg, @goldshtn, @davemarchevsky

libbpf-tools/profile: Add -f option to display output in folded format
  libbpf-tools/profile.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/wakeuptime: Add offset to kernel stack trace
  libbpf-tools/wakeuptime.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tcpconnect: increase comm field size
  libbpf-tools/tcpconnect.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

INSTALL.md: Add WSL build dependency
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Update xdp_drop_count.py
  examples/networking/xdp/xdp_drop_count.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

libbpf-tools/wakeuptime: Add offset to kernel stack trace
  libbpf-tools/wakeuptime.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

INSTALL.md: Add WSL build dependency
  INSTALL.md
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Update xdp_drop_count.py
  examples/networking/xdp/xdp_drop_count.py
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

Update tcpconnect.c
  libbpf-tools/tcpconnect.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

tcpconnect: increase comm field size
  libbpf-tools/tcpconnect.c
Owners: @drzaeus77, @goldshtn, @yonghong-song, @4ast, @brendangregg, @davemarchevsky

CODEOWNERS:

# This file should be kept up to date with the list of maintainers responsible
# for the different subdirectories within BCC. One of these people SHOULD
# review code that touches the respective areas, and MUST review it if the
# change is substantial or API-breaking.

# see https://help.github.com/articles/about-codeowners/ for syntax

# Miscellaneous
* @drzaeus77 @goldshtn @yonghong-song @4ast @brendangregg @davemarchevsky

# Documentation
/docs/ @brendangregg @goldshtn @davemarchevsky
/man/ @brendangregg @goldshtn @davemarchevsky

# Tools
/tools/ @brendangregg @goldshtn @davemarchevsky

# Compiler, C API
/src/cc/ @drzaeus77 @yonghong-song @4ast @davemarchevsky

# Python API
/src/python/ @drzaeus77 @goldshtn @davemarchevsky

# Tests
/tests/ @drzaeus77 @yonghong-song @davemarchevsky
